<app-header class="component"></app-header>
<main class="main">
    <div class="submain">
        <div class="titleContain">
            <div class="fotoPerfil">
                <img src={{currentUser.avatar}} alt="" routerLink="/profile">
            </div>
            <div class="titleText">
                <h1>CAMPAÑAS</h1>
                <p>{{currentUser.username}}</p>

                <div *ngIf="noCampaigns" class="message">

                        No tienes ninguna campaña en curso.<br>
                        Pulsa en "Nueva Campaña" para comenzar.

                </div>

            </div>


        </div>
        <div class="banderasdiv" *ngFor="let campaign of campaignsOfUser">
            <div class="banderascontainer">
                <button class="banderas" (click)="selectCampaign(campaign.campaign_id)">
                    <img src="../../../assets/img/cintas_rojas.png" alt="">
                    <p #campaign>{{campaign.campaign_name}}</p>
                </button>
                <span class="calavera">
                    <button (click)="deleteCampaign(campaign.campaign_id)">
                        <img src="../../../assets/img/CALAVERA.png" alt="">
                    </button>
                </span>
            </div>   
            
        </div>
        <!-- Nueva campaña debe ir a añadir jugadores de esa campaña -->
        <button class="btnCrear" (click)="createNewCampaign()">
            <img src="../../../assets/img/img_espada.png" alt="">
            <div>
                NUEVA CAMPAÑA
            </div>
            <p class="textHide" [hidden]="isHide">No puedes tener mas de 6 campañas</p>
        </button>
    </div>
<!-- Modal -->
    <div class="modal" [hidden]="hiddenModal">
    <app-campaign-name-modal></app-campaign-name-modal>
    </div> 
    
</main>