<main class="modal">
    <img src="../../../assets/backgrounds/bg_modal.png" alt="">
    <div class="modalContain">
        <div class="inputContain">
            <label>Introduce el valor de cortesia</label>
            <input class="" type="number" #valorInput [(ngModel)]="objeto">
        </div>
        <button class="small_button" (click)="calcularMatrimonioCortesia(valorInput.value)"     [disabled]="!objeto">Calcular</button>
        
        
        <div class="resultados">
            <div *ngIf="resultadoFinal == 'Exito' && isHidden === true" class="resultadoExito">
                <p>Resultado exito: {{resultadoTirada}}</p>
                <div class="resultadoCentrado">
                    <p *ngIf="botonPulsado == false">¿Quieres casarte?</p>
                    <div *ngIf="botonPulsado == false" class="botones">
                        <button class="small_button" (click)="casarseResult()">Si</button>
                        <button class="small_button" #noSeCasa (click)="noMarriage()">No</button>
                    </div>
                    <div *ngIf="casarse == true;" style="display: flex; flex-direction: column; align-items: center;height: 100%;">
                        <div class="inputContain">
                            <label>Tirada de matrimonio</label>
                            <input class="" type="number" #valorInput>
                        </div>
                        <button class="small_button" (click)="esposaResult(valorInput.value)">Calcular</button>
                        <div *ngIf="casadoCon == true" class="resultContainer">
                            <p>Resultado: {{rol}}</p>
                            <p>+{{gloria}} de gloria para el personaje activo</p>
                            <p>+{{libras}} libras para el personaje activo</p>
                            <div class="inputEsp">
                                <input class="nombreEsp" type="text" placeholder="Nombre">
                                <input class="edadEsp" type="text" placeholder="Edad">
                            </div>
                            <button class="plumaButton" (click)="guardarDatos()">
                                <img src="../../../assets/img/PLUMA.png" alt="">
                                <p>Ok</p>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="noSeCasa == 'No'">
                        <div>Recuerda sumar +1 a la tirada de matrimonio</div>
                    </div>
                </div>
            </div>
            <div *ngIf="resultadoFinal == 'Fallo' && isHidden == true" class="resultadoFallo">
                    <p>Tirada fallida, no te casas</p>
                    <button class="plumaButton" (click)="guardarDatos()">
                        <img src="../../../assets/img/PLUMA.png" alt="">
                        <p>Ok</p>
                    </button>
            </div>
        </div>
    </div>
</main>