<div class="supercontainer">
    <div class="title">
        <p class="page_title">CREACIÓN DE PNJs</p>
        <p class ="page_subtitle">{{currentHouseName}}</p>
    </div>

<!-- <form #houseForm="ngForm" (ngSubmit)="onSubmit(houseForm)">  -->
<div class="maincontainer">
    <div class="left">
<form #charForm="ngForm" (ngSubmit)="onSubmit(charForm)" class="charForm">
        <div class="short_inputs">

            <div class="character_name_input">
                <label class="texto">Nombre</label>
                <input type="text" name="char_name" [(ngModel)]="newCharacter.char_name">
            </div>
            <div class="character_age_input">
                <label class="texto">Edad</label>
                <input type="text" name="age" [(ngModel)]="newCharacter.age">
            </div>
            <div class="squire_name_input">
                <label class="texto">Sexo</label>
                <!-- El sexo de los personajes actualmente no se muestra en la tabla -->
                <select id="lang" name="sex" [(ngModel)]="newCharacter.sex">
                    <option *ngFor="let valor of sex" [value]="valor">{{valor}}</option>
                </select>
            </div>
        </div>

    <div class="short_inputs">
        <div class="character_role_input">
            <label class="texto">Rol</label>
            <select name="role" id="lang" [(ngModel)]="newCharacter.role">
                <option *ngFor="let valor of role" [value]="valor">{{valor}}</option>
            </select>
        </div>
        <div class="character_otherRole_input">
            <!-- Igual tienes que cambiar el name -->
            <label class="texto">Otro Rol</label><input type="text" name="otherRole" [(ngModel)]="newCharacter.role">
        </div>
        <div class="character_confirm_button">
            <!-- <label class="texto">Confirmar:</label> -->
            <button class="small_button">AÑADRIR PNJ</button>
        </div>
    </div>
</form>

<!-- SELECTOR DE PERSONAJE PRINCIPAL O PJ -->
<form #selectedCharForm="ngForm" (ngSubmit)="onSelect(selectedCharForm)" class="selectedCharForm">
        <div class="choose_new_character">
            <label class="texto">ELIJE NUEVO PJ:</label>
            <select class="seleccion"name="activeChar" id="lang" #selectedChar [(ngModel)]="currentHouse.activeChar">
                <option *ngFor="let valor of currentHouseChars" [value]="valor.character_id">{{valor.char_name}} </option>
            </select>
            <button class="small_button2" (click)="changeSelectedCharMessage()" >OK</button>
        </div>
        <div class="selected_char_message" *ngIf="selectedCharMessage">
            <p>¡Nuevo personaje activo!</p>
        </div>
</form>
        <div class="buttons">
            <button (click)="cancel()">CANCELAR</button>
            <!-- <button > PNJ </button> -->
            <button [disabled] = "noNpcs" (click)="goBack()"> CONFIRMAR </button>
        </div>


    <div class="npc_list">
    <!-- Los personajes van apareciendo en esta  -->

    <!-- Cabecera -->
    <div class="header">
        <span class="texto">EDITAR</span>
        <span class="texto">NOMBRE</span>
        <span class="texto">ROL</span>
        <span class="texto">EDAD</span>
        <span class="status_header" style="font-size: 1.2rem;color: var(--font-color-warnings);font-weight: bold;">ESTADO</span>
    </div>
    <!-- Personajes -->
    <div class="character" *ngFor= "let char of currentHouseChars">
        <div class="editchar">
        <span class="skull" (click)="deleteChar(char.character_id)"><img src="../../../assets/img/espada_cruzada.png"></span>
    </div>
        <span class="texto2">{{char.char_name}}</span>
        <span class="texto2">{{char.role}}</span>
        <span class="texto2">{{char.age}}</span>
        <span class="npc_status" (click)="deadOrAlive(char.character_id)">

            <ng-container *ngIf="char.char_status==1">
            Vivo/a
            </ng-container>

            <ng-container *ngIf="char.char_status==0">
            Muerto/a
            </ng-container>

        </span>
    </div>


    </div>


    </div>

    <div class="right">
        <div class="shield_selector">
            <img [src]="currentHouseShield" alt="" srcset="">
        </div>

    </div>
</div>
<!-- </form> -->
</div>