<div class="supercontainer">
    <div class="title">
        <p class="page_title">Creación de PNJs</p>
        <p class ="page_subtitle">{{houseName}} </p>
    </div>

<!-- <form #houseForm="ngForm" (ngSubmit)="onSubmit(houseForm)">  -->
<div class="maincontainer">
    <div class="left">
<form #charForm="ngForm" (ngSubmit)="onSubmit(charForm)" class="charForm">
        <div class="short_inputs">

            <div class="character_name_input">
                <label>Nombre</label>
                <input type="text" name="name" [(ngModel)]="formNpc.name">
            </div>
            <div class="character_age_input">
                <label>Edad</label>
                <input type="text" name="age" [(ngModel)]="formNpc.age">
            </div>
            <div class="squire_name_input">
                <label>Sexo</label>
                <select id="lang" name="sex" [(ngModel)]="formNpc.sex">
                    <option *ngFor="let valor of sex" [value]="valor">{{valor}}</option>
                </select>
            </div>
        </div>

            <br>
    <div class="short_inputs">
        <div class="character_role_input">
            <label>Rol</label>
            <select name="role" id="lang" [(ngModel)]="formNpc.role">
                <option *ngFor="let valor of role" [value]="valor">{{valor}}</option>
            </select>
        </div>
        <div class="character_otherRole_input">
            <!-- Igual tienes que cambiar el name -->
            <label>Otro rol</label><input type="text" name="otherRole" [(ngModel)]="formNpc.role">
        </div>
        <div class="character_confirm_button">
            <label>Confirmar:</label>
            <button class="small_button">Añadir PNJ</button>
        </div>
    </div>
</form>
<br>
<form #selecetedCharForm="ngForm" (ngSubmit)="onSelect(selecetedCharForm)" class="selecetedCharForm">
        <div class="choose_new_character">
            <label>Elije un nuevo PJ</label>
            <select name="characters" id="lang" #selectedChar [(ngModel)]="activeChar">
                <option *ngFor="let valor of npcs" [value]="valor">{{valor.name}} </option>
            </select>
            <button class="small_button" >Ok</button>
        </div>
</form>
        <div class="buttons">
            <button (click)="cancel()">Cancelar</button>
            <!-- <button > PNJ </button> -->
            <button [disabled] = "noNpcs" (click)="goBack()"> Confirmar </button>
        </div>
<br>
    <div class="npc_list">
    <!-- Los personajes van apareciendo en esta  -->

    <!-- Cabecera -->
    <div class="header">
        <span style="font-size: larger;">Editar</span>
        <span style="font-size: larger;">Nombre</span>
        <span style="font-size: larger;">Rol</span>
        <span style="font-size: larger;">Edad</span>
        <span class="status_header" style="font-size: larger;">Estado <sub style="font-size: small;">?</sub></span><br>
    </div>
    <!-- Personajes -->
    <div class="character" *ngFor= "let npc of npcs">
        <div class="editchar">
        <!-- <span class="quill"><img src="../../../assets/img/PLUMA.png"></span> -->
        <span class="skull" (click)="deleteChar(npc.id)"><img src="../../../assets/img/CALAVERA.png"></span>
    </div>
        <span>{{npc.name}}</span>
        <span>{{npc.role}}</span>
        <span>{{npc.age}}</span>
        <span class="npc_status" (click)="deadOrAlive(npc.id)">

            <ng-container *ngIf="npc.status==true">
            Vivo/a
            </ng-container>

            <ng-container *ngIf="npc.status==false">
            Muerto/a
            </ng-container>

        </span>
    </div>


    </div>


    </div>

    <div class="right">
        <div class="shield_selector">
            <img src="../../../assets/img/escudo3.png" alt="" srcset="">
        </div>

    </div>
</div>
<!-- </form> -->
</div>