.component{
    /* LE DOY POSICION FIJA AL COMPONENTE HEADER / */
    position:absolute;
    width: 100%;
    /* border: 2px solid black; */
    background-color: rgb(18,19,17);
}

.supercontainer{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    padding-top: 3%;
    background-image: url(../../../assets/backgrounds/fondo_createhouse.png);
    background-size:cover;
    background-repeat: no-repeat;
    /* padding-bottom: 5vh; */
    /* border: 5px solid blue; */
}
.maincontainer{
    display: flex;
    flex-direction: row;
   /*  border: 5px solid red; */
    height: 85%;
    width: 100%;
 /*    padding-bottom: 1.95vh; */

}
.title{
    width: 100%; 
    height: 15%; 
    justify-content: flex-end;
  /*   border: 5px solid rgb(238, 129, 129); */
}
.page_title{
    color: var(--font-color-hover);
    -webkit-text-stroke: 2px var(--font-color-h);
    font-size: 4rem;
    font-weight: bold;
    text-align:end;

    width: 90%; 
    height: 70%; 
/*     border: 5px solid red; */
}

 .page_subtitle{
    color: var(--font-color-warnings);
    font-weight: bold;
    text-align:end;
    font-size: 3rem;
    width: 90%; 
    height: 30%; 
   /*  border: 5px solid rgb(0, 255, 225); */
}
.texto{

    color: var(--font-color-warnings);
    font-weight: bold;
    font-size: 1.2rem;
}
.texto2{

    color: var(--font-color-hover);
    font-weight: bold;
    font-size: 1.2rem;
}

/* .selectedCharForm{
    border: 5px solid rebeccapurple;
} */

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5%;
    width: 50%;
    height: 98%;
    /* border: 5px solid pink; */


}
.image_left{
    display: flex;
    flex-direction: column;
}

    .short_inputs{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
         /* border: 2px solid teal ; */
         margin-top: 1%;
         width: 95%;
         height: 40%;

    }

            .character_name_input{
                display: flex;
                flex-direction: column;
               /*  border:2px solid green; */
                width: 31%;
            }
               .character_name_input input{
                width: 100%;
                height: 90%;
                text-decoration: none;
                border: none;
                border-radius: 5px;
                font-size: 1.2rem;
                font-weight: bold;
                color: var(--font-color-hover);

              }

            .character_age_input{
                display: flex;
                flex-direction: column;
                align-items: center;
                /* gap:5px; */
               /*  border:2px solid green;  */
                width: 31%;
            }

                .character_age_input input{
                    width: 100%;
                    height: 90%;
                    text-decoration: none;
                    border: none;
                    border-radius: 5px;
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: var(--font-color-hover);
                }

            .squire_name_input{
                display: flex;
                flex-direction: column;
               /*  gap:5px; */
                /* border:2px solid green; */
                width: 31%;
                height: auto;
            }  
               .squire_name_input option{

                    width: 100%;
                    height: 90%;
                    text-decoration: none;
                    border: none;
                    border-radius: 5px;
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: var(--font-color-hover);

               }

            .character_role_input{
                display: flex;
                flex-direction: column;
                /* gap:5px; */
                /* border:2px solid green; */
                width: 31%;
            }
                .character_role_input input{
                    text-decoration: none;
                    border: none;
                    border-radius: 5px;
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: var(--font-color-hover);
                }

            .character_otherRole_input{
                display: flex;
                flex-direction: column;
               /*  gap:5px; */
               /*  border:2px solid green;  */
                width: 31%;
            }
                .character_otherRole_input input{
                    text-decoration: none;
                    border: none;
                    border-radius: 5px;
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: var(--font-color-hover);
                }
                
            .character_confirm_button{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: flex-end;
                border:none;
                text-decoration: none;
                /* gap:15px; */
               /*  border:2px solid red; */  
                width: 31%;
            }
            .seleccion{

                width: 35%;
                text-align: center;
            }
    
    .npc_list{/* space evently */
        /*  border:2px solid red;  */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        flex-wrap: wrap;
        
        color: var(--font-color-hover);
        width: 100%;
        height: 55%;
    }

        .header{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            /* padding-bottom: 5px; */
            width: 95%;
           /*  border:2px solid red */
             
        }
        
            .header span{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 20%;
                /* border:2px solid orangered;  */
            }

        .character{/* AQUÍ HE TOCADO */
            display: flex;
            flex-direction: row;
            justify-content:center;
            flex-wrap: wrap;
            /* border:2px solid blue ; */
            width: 95%;
            height: 7%;/* antes 15% */
      
        }

            .character span{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 20%;
               /*  border:2px solid orangered  */
            }

        .editchar{/* wrap */
            display: flex;
            /* flex-wrap: wrap; */
            flex-direction: row;
            /* border:2px solid green;  */
            justify-content: center;
            align-items: center;
            width: 20%;
    
        }

    .choose_new_character{
        display: flex;
        flex-direction: row;
        gap:15px;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 90%;
    }

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    /* padding-right: 5%; */
   /*  border: 5px solid rgb(216, 11, 11); */
}

.shield_selector{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 95%;
    flex-wrap: wrap;
    /* gap:15px; */
   /*  border: 5px solid violet; */
}

.shield_selector img{
    display: flex;
    padding-block-end: 14%;
    flex-direction: row;
    max-width: 44%;
    /* border: 5px solid brown; */
}

/* .shield_selector img:hover{
    transform: scale(1.5);
    cursor:pointer
} */

/* .shield_selector img{
    transform: scale(1.5);
    cursor:pointer
}
 */
/* .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 200px;
    /* border: 5px solid brown; */
 

.image_left{
    height: 70vh;
    /* border: 5px solid green; */

}

.imageleft{
    height: 100%;
    /* border: 5px solid green; */

}

/* .container{ */
    /* border: 5px solid blue; */
/* } */

/* .playerlist{ */
    /* border: 5px solid yellow; */
/* }
    .playerlist img{ */
        /* width: 64px;
        height: 64px; */
 /*    } */


.playerempty{
    /* border: 5px solid green; */
    display: flex;
    flex-direction: row;
}

.playerOk{

    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}

    .noshield{
        width: 64px;
        height: 44px ;
    }

    .playershield{
        display: flex;
        width: 64px;
        height: 64px;
    }
    .playername{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* border: 5px solid red; */
        width: 50%;
        background-image: url(../../../assets/img/banner_player.png);
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .emptyoptions{
        width: 88px;
    }
    .skull{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
        .skull img{
            width: 35px;
        }

    .quill{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

        .quill img{
            width: 35px;
        }

    /* .npc_status{
        border: 2px solid red;
    } */

    .npc_status:hover{
        cursor:pointer;
        color: var(--font-color-h);
        
    }

    .status_header{
        font-size: large;
    }

    .status_header:hover{
        cursor: pointer;
        color: var(--font-color-hover);
    }


.year{
    /* border: 5px solid purple; */
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-right: 5%;
    padding-left: 5%;
    padding-top:3%;
    padding-bottom:3%
}

.buttons{    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap:20px;
    /* border: 2px solid orangered; */
    /* padding-top: 5%; */
    /* margin-left: 64px;
    padding-right: 64px; */
    /* width: 64px;
    height: 44px ; */
}

.selected_char_message{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
    color: white;

    animation:selected_char_message 0.5s 1;
    -webkit-animation:selected_char_message 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:2s;
    -webkit-animation-delay:1s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;


}



@keyframes selected_char_message{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes selected_char_message{
    from {opacity :1;}
    to {opacity :0;}
}








    button{
        background-color: var(--font-color-h);
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 10px;
    
        /* padding: 15px 32px; */
        color: var(--font-color-hover);
        border: none;
        text-decoration: none;
        width: 24%;
        height: 120%;
    }

        .small_button{
            background-color: var(--font-color-h);
            font-size: 1.2rem;
            font-weight: bold;
            border-radius: 8px;
            color: var(--font-color-hover);
            border: none;
            text-decoration: none;
            width: 90%;
            height: 60%;
        }
        .small_button2{
            background-color: var(--font-color-h);
            font-size: 1.2rem;
            font-weight: bold;
            border-radius: 8px;
            color: var(--font-color-hover);
            border: none;
            text-decoration: none;
            justify-content: center;
            text-align: center;
            justify-items: center;
            width: 10%;
            height: 100%;
        }

    button:hover{
        color: var(--font-color-hover);
        cursor: pointer;
    }

    button:disabled{
        background-color: grey;
        color:black;
        cursor:default
    }

input{
    background-color: var(--background-color-input);
    height:40px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    color: var(--font-color-hover);
}

input label{
    color: var(--font-color-label-input);
}

label{
    color: var(--font-color-label-input);
}

select{
    background-color: var(--background-color-input);
    height:40px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    color:var(--font-color-hover)
}

table{
    /* border: 2px solid red; */   
    width: 80%;
}

    th{
        text-align: center;
    }

    td{
        text-align: center;
        /* border: 2px solid blue;  */  
    }

.tableselect{
    width:50%;
    background-color: var(--background-color-input);
    border-radius: 4px; 

}


h3{
    color: var(--font-color-primary);
    font-size: 200%;
}

.skull img:hover{
    cursor: pointer;
}

.quill img:hover{
    cursor: pointer;
}