
<div class="header" *ngIf="comprobarlogin() === false; else headerDos">

        <a routerLink="/home" class="home">HOME</a>
        <a routerLink="/aboutus" class="sobrenosotros">SOBRE NOSOTROS</a>
        <a routerLink="/login" class="login">LOGIN</a>
        <a routerLink="/register" class="registro">REGISTRARSE</a>
       <!--  <a routerLink="/login" class="login">LOGIN</a> -->
</div> 

 <ng-template #headerDos>
    
    <nav class="header2">

        <a routerLink="/campaigns" class="campañas">CAMPAÑAS</a>
        <div class="espacio"></div>
        <a routerLink="/profile" class="profile">PERFIL</a>
        <a routerLink="/home" class="logout" (click)="logOut()">LOG OUT</a>

    </nav>

</ng-template> 
