 .header{

    width: 100%;
    height: 30%;

    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    font-family: 'Almendra', serif;  
   /*  border:  3px solid orange; */
}

.header2{

    width: 100%;
    height: 30%;

    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    font-family: 'Almendra', serif;  
/*     border:  3px solid orange; */
}

.home{

    color: var(--font-color-primary);
    padding: 2%;
    padding-left: 6%;
    text-decoration: none;
    
}
.home:hover{

    color: var(--background-color-input)

}

.sobrenosotros{

    color: var(--font-color-primary);
    padding: 2%;
    text-decoration: none;
    margin-right: 30%;
   
}
.sobrenosotros:hover{

    color: var(--background-color-input)

}

.login{

    color: var(--font-color-primary);
    padding: 2%;
    padding-right: 5%;
    text-decoration: none;
    
} 
.login:hover{

    color: var(--background-color-input)

}

.registro{

    color: var(--font-color-primary);
    padding: 2%;
    padding-left: 10%;
    text-decoration: none;
}
.registro:hover{

    color: var(--background-color-input)

}

.campañas{

    color: var(--font-color-primary);
    padding: 2%;
    padding-left: 50%;
    text-decoration: none;
}
.campañas:hover{

    color: var(--background-color-input)

}

.logout{

    color: var(--font-color-primary);
    padding: 2%;
    padding-right: 5%;
    text-decoration: none;
} 
.logout:hover{

    color: var(--background-color-input)

}
