.padre{

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
/*     justify-content: space-around; */
   
  background-image: url("../../../assets/backgrounds/fondo_phase2.png");
  background-size: cover;
  background-position: center;

    /*   border:  5px solid orange;  */
}
      .fondo{

        width: auto;
        height: 100%;
       
     }

.main{
 /*    border: 2px solid rgb(239, 213, 13); */
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.izquierda{

    width: 55%;
    height: 100%;
  /*   border:  4px solid rgb(166, 255, 0); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    background-image: url("../../../assets/img/pergamino.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 92%;
}
     .pergamino_fondo{

        width: 90%;
        height: 120%;
        align-self: center; 

     }
.cabecera{ /* zona del título */

    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* border:  5px solid pink;  */

}
    .titulo{
        width: 100%;
        height: 75%;
        font-size: 4rem;
        margin-top: 7%;
        text-align: center;
        justify-content: center;
       /*  border: 2px solid rgb(255, 0, 230);  */ 
       color: var(--font-color-hover);
       -webkit-text-stroke: 2px var(--font-color-h);
       /*  -webkit-text-stroke: 2px var(--font-color-h); */
        font-weight: bold;
        font-size: 3rem;

    }
    .nombreUsuario{
        width: 75%;
        height: 25%;
       /*  border:  4px solid rgb(227, 146, 159);  */
        color: var(--font-color-warnings);
        font-weight: bold;
        text-align: end;
        font-size: 1.8rem;
    }

.body{

    width: 100%;
    height: 80%;
    flex-direction: row;
   /*  border:  5px solid rgb(227, 17, 185);  */
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center; 

}

    
.caja_escudo{

    width: 80%;
    height: 30%;
    margin-top: 7%;
   /*  border:  4px solid rgb(184, 116, 229); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
            .escudo{
                width: 30%;
                height: 100%;
              /*   border:  4px solid rgb(6, 64, 255); */
                justify-content: center;
                align-content: center;
            } 
                  .imagen_escudo{
                    height: 90%;
                    width: auto;
                   /*  border:  4px solid rgb(229, 189, 116); */
                
                } 
            .paso{
                height: 70%;
                width: 40%;
              /*   font-weight: bold; */
                color: black;
                line-height: 70%;
                font-size: 1.5rem;
                justify-content: center;
                text-align: start;
               /*  border:  4px solid rgb(236, 156, 6); */
            }

.textolargo{

    height: 70%;
    width: 75%;
    padding-left: 5%;
    padding-top: 5%;
    line-height: 160%;
 /*    border:  4px solid rgb(204, 107, 193);  */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
   /*     .pasoOpcional{

        color: var(--font-color-warnings);
        font-weight: bold;
        font-size: 1.2rem;
        text-align: justify;
        justify-content: center;
        padding-top: 6%;
        height: 20%;
        width: 80%;
    /*     border:  4px solid rgb(204, 107, 193);  */
       

    .pasoOpcional{
    
        color: black;
       /*  font-weight: bold; */
        font-size: 1.2rem;
        text-align: justify;
        height: 50%;
        width: 80%;
       /*  border:  4px solid rgb(204, 107, 193);   */
    }
 /*    .marca_agua{
    
        height: 20%;
        width: 80%;  */
        /* border:  4px solid rgb(204, 107, 193); */  
  /*       background-image: url("../../../assets/img/image-from-rawpixel-id-2629122-original.png");
        background-size: 30%;
        background-position: center;
        background-repeat: no-repeat;
        justify-content: flex-end;
    } */


    .derecha{
       /*  border: 2px solid blueviolet; */
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    } 
    

     .dagas{
    
        width: 95%;
        height: 15vh;
        
       /*  border:  4px solid rgb(237, 1, 1); */
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
        
             .daga_izquierda{  
                width: 30%;
                align-self: center;
                padding-right: 2%;
        
            } 
             .daga_izquierda img{
                width: 100%;
            }
            .siguiente{
        
                text-decoration: none;
                color: var(--font-color-hover);
                padding-right: 4%;
                font-size: 1.2rem;
                font-weight: bold;
                text-align: center;
            }
            .siguiente:hover{
        
                color:var( --backgoud-color-button);
                text-decoration: underline;
            }
        
             .daga_izquierda:hover{
          
                transform: translate(20px);
                 cursor: pointer;
        
            } 
    