
<div class="padre" >

    <div class="main">

            <div class="zonaA">


                <div class="zonaA_a">

                        <p class="titulo">FASE DE INVIERNO<br></p>
                        <p class="nombreUsuario">{{nombre}} {{apellidos}}</p>

                </div>

                <div class="zonaA_b">

                        <div class="cajita"></div>

                        <img class="pergamino" src="../../../assets/img/pergamino-chato.png">
                            
                             <div class="caja">

                                  <div class="escudo">
                                    
                                            <img class="imagen_escudo" src="{{foto_escudo}}"> 

                            
                                           <div class="paso2">

                                            <p><b>Paso 2:</b><br>
                                                Experiencia<br>

                                           </div>

                                  </div>

                                  <div class="textolargo">

                                    <p class="pasoOpcional"><!-- ESTE VA EN LA BBAA (TEXTO) -->El jugador debe tirar 1d20 por cada marca de experiencia en habilidad, rasgo o pasión. Si el resultado de la tirada es superior al valor actual, incrementa en 1 lahabilidad, rasgo o pasión. Si el valor es 20, incrementa con un resulado de 20.

                                  </div>

                            </div>

                        <div class="cajita"></div>

                </div>

                  
            </div>

            <div class="zonaB">
               
            </div>
    </div>

     <!-- <div class="dagas">

        <div class="back">
            <a routerLink = "/phase1" class="daga_derecha"><img src="../../../assets/img/daga-atras.png" alt="" ></a>
            <a routerLink = "/phase1" class="volver">VOLVER</a>

        </div>

        <div class="next">
            <a routerLink = "/phase3" class="daga_izquierda"><img src="../../../assets/img/daga-adelante.png" alt="" ></a>
            <a routerLink = "/phase3" class="siguiente">SIGUIENTE</a>
        </div>


    </div> -->



</div>
