
<div class="padre" >

    <div class="main">

            <div class="izquierda">


                <div class="cabecera">

                        <p class="titulo">FASE DE INVIERNO<br></p>
                        <p class="nombreUsuario">{{currentPlayerName}}</p><!-- nombre jugador -->

                </div>

                <div class="body">

                        <div class="caja_escudo">

                                  <div class="escudo">
                                    <img class="imagen_escudo" src="{{foto_escudo}}">
                                  </div>

                                  <div class="paso">
                                         <p>Paso II:</p><br>
                                         <p>Experiencia</p><br>
                                   </div>

                        </div><!-- cierro caja_escudo -->

                        <div class="textolargo">

                                <p class="pasoOpcional">{{textos[0].phases_text}}</p>
                                <!-- <div class="marca_agua"></div> -->

                        </div>

                </div><!-- cierro body -->
                  
            </div><!-- cierro izquierda -->

            <div class="derecha">

                <div class="dagas">

                        <a class="siguiente" routerLink="/phase3">AVANZA</a>
                        <img class="daga_izquierda" routerLink="/phase3" src="../../../assets/img/daga-adelante.png">
                </div>
           </div>

    </div><!-- cierra main -->

</div><!-- cierra padre -->


     <!-- <div class="dagas">

        <div class="back">
            <a routerLink = "/phase1" class="daga_derecha"><img src="../../../assets/img/daga-atras.png" alt="" ></a>
            <a routerLink = "/phase1" class="volver">VOLVER</a>

        </div>

        <div class="next">
            <a routerLink = "/phase3" class="daga_izquierda"><img src="../../../assets/img/daga-adelante.png" alt="" ></a>
            <a routerLink = "/phase3" class="siguiente">SIGUIENTE</a>
        </div>


    </div> -->

