<app-header class="component"></app-header>
<main class="main">

    <div class="submain">
        <div class="lacre">
            <img class="imglacre" src="{{user.avatar}}" alt="">
            
        </div>
        <div class="dataUser">
            <p>USUARIO</p>
            <div class="userInfo">
                <p>Nombre: {{user.username}}</p>
                <p>Correo: {{user.email}}</p>
                <p>Contraseña: {{user.password}}</p>
            </div>
        </div>
    </div>

    <div class="buttonContainer">
        <button class="backbutton" (click)="goBack()">
            <p>CANCELAR</p>
            <img src="../../../assets/img/daga-atras.png" alt="">
        </button>
        <button class="modifybutton" (click)="goModifyUser()">
            <p>MODIFICAR</p>
            <img src="../../../assets/img/daga-adelante.png" alt="">
        </button>
    </div>

</main>