.modal{
    width: 30vw;
    height: 70vh;
    background-size: cover;
    /* border: 2px solid red; */
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .modal img{
        width: 100%;
        height: 100%;
    }
    .modalContain{
        width: 60%;
        height: 80%;
        /* border: 2px solid black; */
        position: absolute;
        top: 10%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .nombreCasa{
        font-size: 2rem;
        color: var(--font-color-h);
        text-align: center;
    }
    .info{
        font-size: 0.7rem;
        text-align: center;
    }
    .pj{
        font-weight: bold;
        font-size: 0.9rem;
    }
    .pj2{
        font-weight: normal;
        font-size: 0.9rem;
    }
    .otherPj{
        font-size: 0.9rem;
    }
    .vivo{
        font-size: 0.9rem;
        text-align: center;
    }
    .muerto{
        text-decoration:line-through;
        font-size: 0.9rem;
        text-align: center;
    }
        .small_button{
            background-color: var(--font-color-h);
            font-size: large;
            border: none;
            border-radius: 3px;
            padding: 5px 10px;
        }
    .infoContain{
        /* border: 2px solid red; */
        width: 100%;
        height: 45%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .infoContain img{
        width: 30%;
        height: 40%;
        /* border: 2px solid red; */
    }
    .prueba{
        border: 0px  blue !important;
        width: 80%;
        min-height: 55%;
        /* max-height: 55%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;

        overflow-y: scroll;

    }

    .header{
        width: 100%;
        display: flex;
        flex-direction: row;
        /* border: 2px solid yellow; */
        justify-content: center;
        margin-bottom: 5%;
    }

        .name_header{
            /* border:2px solid black; */
            display: flex;
            flex-wrap:wrap;
            width: 49%;
            justify-content: center;
            font-weight: bold;
        }

        .role_header{
            /* border:2px solid white; */
            display: flex;
            flex-wrap:wrap;
            width: 49%;
            justify-content: center;
            font-weight: bold;
        }



    .char_container{
        width: 100%;
        display: flex;
        flex-direction: row;
        /* border: 2px solid yellow */
    }

        .char_name{
            /* border:2px solid red; */
            display: flex;
            flex-wrap:wrap;
            width: 49%;
            justify-content: center;
        }

        .char_role{
            /* border:2px solid green; */
            display: flex;
            flex-wrap:wrap;
            width: 49%;
            justify-content: center;
        }