<!-- <app-house-info-modal class="modal"></app-house-info-modal> -->
<div class="padre" >

    <div class="main">
        <div class="zonaA">

            <div class="zonaA_b">

                <div class="cebecera">

                    <p class="titulo">{{campaignName}}</p>
                    <p class="subtitulo">Fase de Invierno</p>
                    <p class="message">Completa las fases de invierno de todos los jugadores para pasar al año siguiente.</p>

                </div>

                    <!-- Cabecera -->
                    <div class="header">
                        <span class="shield_span"><p>ESCUDO</p></span>
                        <span class="shield_span"><P>CASA</P></span>
                        <span class="shield_span"><P>JUGADOR</P></span>
                        <span class="shield_span"><P>FASE DE INVIERNO</P></span>
                    </div>

                    <!-- Jugadores -->

                    <ng-container *ngFor="let jugador of playersAndHouses">
                    <div class="players" *ngIf="jugador.player.player_id!=null;else noplayer">
                        
                        <span class="shield_img">
                            <img [src]="jugador.house.shield">
                            <!-- <img src="../../../assets/img/escudo1.png" alt="Placeholder"> -->
                        </span>
                        <span>
                            {{jugador.house.house_name}}
                            <!-- Placeholder casa -->
                        </span>
                        <span>
                            {{jugador.player.player_name}}
                        </span>
                        <!-- Hay que cambiar los falses a 0 probablemente -->
                        <span *ngIf="jugador.player.winterPhaseDone==0;else winterPhaseFinished">
                            <button class="small_button" (click)="doWinterPhase(jugador.house.house_id)">
                                COMENZAR
                            </button>
                        </span>
                        

                    </div>
                    
                    </ng-container>


                    <ng-template #winterPhaseFinished>
                        <span class="complete">
                            ¡Completada!
                        </span>
                    </ng-template>


                    <!-- Template sin jugador -->
                    <ng-template #noPlayer>
                        <div></div>
                    </ng-template>

            <div class="buttons">
                <!-- ver comentarios en ts -->
                <button [disabled]="playersNotReady" (click)="nextYear()">SIGUIENTE AÑO</button>
            </div>

            </div>

        </div>

        <div class="zonaB">
        
        </div>
    </div>



</div>


