<!-- <p>houses-management works!</p> -->
<app-header class="component"></app-header>
<div class="supercontainer">
    <div class="title">
        <p class="page_title">Creación de casas</p>
        <p class ="page_subtitle">{{campaignName}}</p>
    </div>
<div class="profile_pic">
    <a routerLink = "/profile"><img [src]="profilePic" alt="" srcset=""></a>
</div>


<div class="maincontainer">
    <div class="left">
        <div class="image_left">
            <img  src="../../../assets/img/ReinaGinebra 2.png" alt="" srcset="" class="imageleft">
        </div>
    </div>

    <div class="right">
        <form #yearForm="ngForm" (ngSubmit)="onSubmit(yearForm)" class="yearForm" >
            <div class="year">
                <h3>AÑO DE INICIO: </h3>
                <div class="inputyear">
                    <input type="number" label="Año" name="year" [(ngModel)]="year.yearNumber" #year1="ngModel" [ngClass]="{ 'is-invalid' : year1.pristine && year1.invalid}" required>

                     <!--@Miguel intenté añadir esto, pero nada: "[(ngModel)]="year.yearNumber" [ngClass]="{ 'is-invalid' : year.pristine && year.invalid}" required" -->

                </div>
            </div>

        <div class="playerlist">
            <div class="playerOk" *ngFor="let player of players">
                <div class="playershield">
                    <img [src]="player.escudo" alt="" srcset="">
                </div>
                <div class="playername" *ngIf="player.house_id!=null;else noHouse">
                    <p>{{player.player_name}} - Casa <!--{{player.casa}}--></p>
                </div>
                <ng-template #noHouse>
                    <div class="playername">
                    <p><a (click)="goToCreateHouse(player.player_id)">{{player.player_name}}</a></p>
                    </div>
                </ng-template>
                <div class="skull" *ngIf="player.house_id!=null;else noSkull">
                    <img (click)="deleteHouse(player.player_id,player.house_id)" src="../../../assets/img/CALAVERA.png" alt="" srcset="">
                </div>
                <ng-template #noSkull>
                    <div class="skull"></div>
                </ng-template>
                <div class="quill" *ngIf="player.house_id!=null;else noQuill">
                    <a (click)="modifyHouse(player.house_id)"><img src="../../../assets/img/PLUMA.png" alt="" srcset=""></a>
                </div>
                <ng-template #noQuill>
                    <div class="quill"></div>
                </ng-template>
        </div>
        </div>


        <!-- <div class="playerOk">
            <div class="playershield">
                <img [src]="emptyShield" alt="" srcset="">
                </div>
            <div class="playername">
                <p>Irene Becker</p>
            </div>
            <div class="emptyoptions"></div>
        </div> -->

<!-- <ng-container *ngIf="asignedHouse==false";else allHousesAssigned> -->


    <div class="buttons">
        <button  [disabled]="housesNotAsigned || year1.invalid" style="padding: 30px 60px; font-size:xx-large">JUGAR CAMPAÑA</button>
        <!-- @Miguel, intento añadir "&& (year.dirty || year.invalid)", pero no me lo coge, de hecho, es como si desvalidara el anterior disable -->
    </div>


</form>

    <div class="buttons">
        <button (click)="goBack()"> Atrás </button>
    </div>


<!-- </ng-container> -->

<!-- <ng-container #allHousesAssigned>

    <div class="buttons">
        <button>JUGAR CAMPAÑA</button>
    </div>

</ng-container> -->

    </div>

</div>
</div>
