<!-- <p>houses-management works!</p> -->
<app-header class="component"></app-header>
<div class="supercontainer">
    <div class="title">
        <p class="page_title">Creación de casas</p>
        <p class ="page_subtitle">{{campaignName}}</p>
    </div>
<div class="profile_pic">
    <img [src]="profilePic" alt="" srcset="">
</div>


<div class="maincontainer">
    <div class="left">
        <div class="image_left">
            <img  src="../../../assets/img/ReinaGinebra 2.png" alt="" srcset="" class="imageleft">
        </div>
    </div>

    <div class="right">
        <div class="year">
            <h3>AÑO DE INICIO: </h3>
            <div class="inputyear">
                <input type="text" label="Año">
            </div>
        </div>

        <div class="playerlist">
            <div class="playerOk">
                <div class="playershield">
                <img [src]="shieldImage" alt="" srcset="">
                </div>
                <div class="playername">
                    <p>{{playerName}} - Casa {{houseName}}</p>
                </div>
                <div class="skull">
                    <img src="../../../assets/img/CALAVERA.png" alt="" srcset="">
                </div>
                <div class="quill">
                    <img src="../../../assets/img/PLUMA.png" alt="" srcset="">
            </div>
        </div>

        <div class="playerOk">
            <div class="playershield">
                <img [src]="shieldImage" alt="" srcset="">
            </div>
            <div class="playername">
                <p>{{playerName}} - Casa {{houseName}}</p>
            </div>
            <div class="skull">
                <img src="../../../assets/img/CALAVERA.png" alt="" srcset="">
            </div>
            <div class="quill">
                <img src="../../../assets/img/PLUMA.png" alt="" srcset="">
        </div>
    </div>


    <div class="playerOk">
        <div class="playershield">
            <img [src]="shieldImage" alt="" srcset="">
        </div>
        <div class="playername">
            <p>{{playerName}} - Casa {{houseName}}</p>
        </div>
        <div class="skull">
            <img src="../../../assets/img/CALAVERA.png" alt="" srcset="">
        </div>
        <div class="quill">
            <img src="../../../assets/img/PLUMA.png" alt="" srcset="">
    </div>
</div>


<div class="playerOk">
    <div class="playershield">
        <img [src]="shieldImage" alt="" srcset="">
    </div>
    <div class="playername">
        <p>{{playerName}} - Casa {{houseName}}</p>
    </div>
    <div class="skull">
        <img src="../../../assets/img/CALAVERA.png" alt="" srcset="">
    </div>
    <div class="quill">
        <img src="../../../assets/img/PLUMA.png" alt="" srcset="">
</div>
</div>

<div class="playerOk">
    <div class="playershield">
        <img [src]="shieldImage" alt="" srcset="">
    </div>
    <div class="playername">
        <p>{{playerName}} - Casa {{houseName}}</p>
    </div>
    <div class="skull">
        <img src="../../../assets/img/CALAVERA.png" alt="" srcset="">
    </div>
    <div class="quill">
        <img src="../../../assets/img/PLUMA.png" alt="" srcset="">
</div>
</div>


        <div class="playerempty">
            <div class="playershield">
                <img [src]="emptyShield" alt="" srcset="">
                </div>
            <div class="playername">
                <p>Irene Becker</p>
            </div>
            <div class="emptyoptions"></div>
        </div>

<!-- <ng-container *ngIf="asignedHouse==false";else allHousesAssigned> -->

    <div class="buttons">
        <button [disabled]="asignedHouse==false">JUGAR CAMPAÑA</button>
    </div>

<!-- </ng-container> -->

<!-- <ng-container #allHousesAssigned>

    <div class="buttons">
        <button>JUGAR CAMPAÑA</button>
    </div>

</ng-container> -->

    </div>

</div>
</div>
</div>