.component{
    /* LE DOY POSICION FIJA AL COMPONENTE HEADER / */
    position:absolute;
    width: 100%;
}


.supercontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    background-image: url(../../../assets/backgrounds/doble_dragon-cola.png);
    background-size:cover;
    background-repeat: no-repeat;
  /*  border: 5px solid blue;  */
}
.cabecera{

    width: 100%;
    height: 25%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
   /*  border: 5px solid rgb(137, 88, 149);  */
}
      .profile_pic{
       width: 35%;
       height: 100%;
       justify-self: end; 
       align-items: flex-end;
       padding-left: 17%;
  /*      border: 5px solid yellowgreen;  */
   
   }
   
   .profile_pic img{
       height: 100%;
   }
   .title{

         width: 65%;
         height: 100%;
         justify-content: center;
        /*  border: 5px solid rgb(135, 141, 27);  */
         justify-content: center;
         text-align: start;
    }
            .page_title{
                color: var(--font-color-hover);
                -webkit-text-stroke: 2px var(--font-color-h);
               /*  text-decoration: line-through; */
                font-size: 4rem;
                padding-top: 3%;
               /*  border: 2px solid rgb(255, 0, 230);  */
                font-weight: bold;
                width: 100%;
                height: 60%;
            }
            
            .page_subtitle{
                color: var(--font-color-warnings);
                font-size: 2rem;
                font-weight: bold;
                width: 100%;
                height: 40%;
               /*  border: 2px solid rgb(0, 60, 255);  */
            }

.maincontainer{
    display: flex;
    flex-direction:column;
    /* border: 5px solid red; */
    justify-content: space-between;
    align-items: center;
    height: 75vh;
    width: 100%;
            
}
            .year{
                 /* border: 5px solid purple; */
                 display: flex;
                 justify-content:center;
                 align-items: center;
                 flex-direction: row;
                 width: 100%;
                 height: 16%;
                 margin: 5%;
             }
                     .año_inicio{
                        font-size: 2.5rem;
                        color: var(--font-color-h);
                        -webkit-text-stroke: 1px var(--font-color-hover);
                     }
                     .inputyear{
                        width: 100%;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        margin-left: 4%;
                        
                     }

            .playerlist{
                /*  border: 5px solid var(--font-color-hover);  */
                 background-color: var( --background-color-input);
                 border-radius: 15px;
                /*  margin-top: 3%; */
                 justify-content:space-between;
                 /* flex-wrap: wrap; */    /* mirar aquí */
                 height: 75%;
                 width: 100%;
            }
    /* .playerlist img{
        width: 64px;
        height: 64px;
    } */


.playerempty{
   /*   border: 5px solid green; */
    display: flex;
    flex-direction: row;
}

.playerOk{

    display: flex;
    flex-direction: row;
    /* padding-bottom: 5px;  */
}

    .noshield{
        width: 40px;
        height: 40px ;
    }

    .playershield{/*  */
       /*  position: absolute; */
        display: flex;
        width: 40px;
        height: 40px;
        margin-left: 3%;
       /*  border: 5px solid red; */
    }
    .playername{
        display: flex;
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--font-color-hover);
        position: relative;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       /*  border: 5px solid red;  */
        padding-top: 2%;
       /*  background-color: var(--background-color-input); */
   
        width: 75%;
        height: 5%;
    }
        .playername p{
            width: 100%;
            height: 100%;
           /*  border: 2px solid orange; */
           color: var(--font-color-hover);
           /* text-decoration-line: underline; */
           font-weight: bold;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        .playername p a{
            width: 90%;
           /*  border: 2px solid rgb(225, 233, 10); */ 
            text-align: center;
            cursor: pointer;
        }

    .emptyoptions{
        width: 88px;
    }
    .skull{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* border: 2px solid rgb(95, 200, 116);  */
        height: 7%;
        width: 10%;
    }
        .skull img{
            width: 38px;
    
        }

    .quill{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      /*   border: 2px solid rgb(163, 95, 200);   */
        height: 7%;
        width: 10%;
    }

        .quill img{
            width: 33px;
        }

.botones{
    width: 35%;
    height: 7%;
    display: flex;
    flex-direction: row;
   /*  border: 5px solid purple; */
    justify-content: center;
    align-items: center;
    /* gap: 2%; */
    margin-top: 2%;
    position: absolute;
    width: 45%;
}

.buttons{    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   /*  border: 5px solid orangered;  */
    width: 35%;
    height: 100%;
   
}

    button{
        background-color: var(--font-color-h);
        font-size: 1.2rem;
        border-radius: 10px;
        font-weight: bold;
        color: var(--font-color-hover);
        border: none;
        text-decoration: none;
        width: 80%;
        height: 100%; 
    }

    button:hover{
        border: 1px solid var(--font-color-hover);
        color: var(--font-color-hover);
        cursor: pointer;
    }

    button:disabled{
        background-color: rgb(38, 56, 46);
        color:black;
        border-radius: 10px;
        font-size: 1.2rem;
        font-weight: bold;
      /*   margin-right: 1%; */
        width: 80%;
        height: 100%;
    }

input{
    background-color: var(--background-color-input);
  /*  height: 100%; */
    width: 25%;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    text-align: center;
    color: var(--font-color-hover);
    font-size: 2rem;
    align-items: flex-end;
}

input label{
    color: var(--font-color-label-input);
}

.skull img:hover{
    cursor: pointer;
}

.quill img:hover{
    cursor: pointer;
}