.component{
    /* LE DOY POSICION FIJA AL COMPONENTE HEADER / */
    position:absolute;
    width: 100%;
    /* border: 2px solid black; */
}


.supercontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 100vh;
    background-image: url(../../../assets/backgrounds/doble_dragon-cola.png);
    background-size:cover;
    background-repeat: no-repeat;
/*     border: 5px solid blue;  */
}
.maincontainer{
    display: flex;
    flex-direction: row;
   /*  border: 5px solid red; */
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;

}
.cabecera{

    width: 100%;
    height: 18%;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
   /*  border: 5px solid rgb(137, 88, 149);  */
}
      .profile_pic{
   
       width: 40%;
       height: 100%;
       justify-self: flex-end; 
       align-self: flex-end;
  /*      border: 5px solid yellowgreen; */
   
   }
   
   .profile_pic img{
       height: 100%;
       margin-left: 40%;
       justify-self: flex-end;
    
   }
   .title{

         width: 60%;
         height: 70%;
         justify-content: end;
      /*    border: 5px solid rgb(135, 141, 27); */
    }
            .page_title{
                color: var(--font-color-hover);
                -webkit-text-stroke: 2px var(--font-color-h);
               /*  text-decoration: line-through; */
                font-size: 4rem;
                text-align: end;
                /* border: 2px solid rgb(255, 0, 230); */ 
                font-weight: bold;
                width: 80%;
                height: 70%;
            }
            
            .page_subtitle{
                color: var(--font-color-warnings);
                text-align: end;
                font-size: 2rem;
                font-weight: bold;
                justify-self: flex-end;
                width: 80%;
                height: 30%;
              /*   border: 2px solid rgb(0, 60, 255);  */
            }


 .texto{
            
/*     flex-wrap: wrap; */
    /* border:1px solid rgb(180, 123, 148);  */
    color: var( --font-color-warnings);
   -webkit-text-stroke: 2px var(--font-color-hover);
    font-weight: bold;
   /*  text-decoration:underline; */
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
   /*  width: 100%; */

}

.right{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  /*   border: 5px solid rgb(236, 6, 175);   */
}

/* .container{
    border: 5px solid blue;
} */

.playerlist{
   /*  border: 5px solid yellow;  */
    background-color: var( --background-color-input);
    border-radius: 15px;
    margin-top: 2%;
    justify-content:center;
    justify-items: center;
    flex-wrap: wrap;
    height: 77%;
    width: 100%;
}
    /* .playerlist img{
        width: 64px;
        height: 64px;
    } */


.playerempty{
   /*   border: 5px solid green; */
    display: flex;
    flex-direction: row;
}

.playerOk{

    display: flex;
    flex-direction: row;
     padding-bottom: 5px; 
}

    .noshield{
        width: 40px;
        height: 40px ;
    }

    .playershield{
        padding-left: 3%;
        display: flex;
        width: 40px;
        height: 40px;
       /*  border: 5px solid red; */
    }
    .playername{
        display: flex;
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--font-color-hover);
        flex-direction: row;
        justify-content: center;
        align-items: center;
       /*  border: 5px solid red; */
        margin-top: 3%;
        width: 75%;
        height: 4%;
    }
        .playername p{
            width: 100%;
            height: 100%;
           /*  border: 2px solid orange; */
           color: var(--font-color-hover);
           /* text-decoration-line: underline; */
           font-weight: bold;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .playername p a{
            width: 80%;
           /*   border: 2px solid black;  */
            text-align: center;
            cursor: pointer;
        }

    .emptyoptions{
        width: 88px;
    }
    .skull{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       /*  border: 2px solid rgb(95, 200, 116);  */
    }
        .skull img{
            width: 35px;
        }

    .quill{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       /*  border: 2px solid rgb(163, 95, 200);  */ 
    }

        .quill img{
            width: 35px;
        }


.year{
   /*   border: 5px solid purple; */
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 16%;
    margin-left: 26%;/* mirar esto */
}
.botones{
    width: 100%;
    height: 17%;
    display: flex;
    flex-direction: row;
/*     border: 5px solid purple; */
    justify-content: center;
 
}

.buttons{    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
    align-items: center;
  /*   border: 5px solid orangered;  */
    width: 40%;
    height: 90%;
}

    button{
        background-color: var(--font-color-h);
        font-size: 1.2rem;
        border-radius: 10px;
        font-weight: bold;
        color: var(--font-color-hover);
        border: none;
        text-decoration: none;
        width: 80%;
        height: 100%; 
    }

    button:hover{
        color: var(--font-color-hover);
        cursor: pointer;
    }

    button:disabled{
        background-color: rgb(38, 56, 46);
        color:black;
        border-radius: 10px;
        font-size: 1.2rem;
        font-weight: bold;
      /*   margin-right: 1%; */
        width: 80%;
        height: 100%;
    }

input{
    background-color: var(--background-color-input);
  /*  height: 100%; */
    width: 25%;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    text-align: center;
    color: var(--font-color-hover);
    font-size: 2rem;
    align-items: flex-end;
}

input label{
    color: var(--font-color-label-input);
}
/* 
h3{
    color: var(--font-color-primary);
   /*  font-size: 200%; */


.skull img:hover{
    cursor: pointer;
}

.quill img:hover{
    cursor: pointer;
}