<main class="modal">
    <img src="../../../assets/backgrounds/bg_modal.png" alt="">
    <div class="modalContain">
        <p>Tirada de nacimientos:</p>
        <div>
            <p>Modificador. Circunstancia economica: {{modEconomia}}</p>
            <p>Modificador. Edad de la madre: {{modEdadMadre}}</p>
        </div>
        <p>Resultado: </p>
        <p>Ha nacido un/una {{sexo}}</p>
        <input type="text" placeholder="Introduce su nombre">
        <button class="plumaButton">
            <img src="../../../assets/img/PLUMA.png" alt="">
            <p>Ok</p>
        </button>
    </div>
</main>