.modal{
    width: 30vw;
    height: 70vh;
    background-size: cover;
    /* border: 2px solid red; */
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .modal img{
        width: 100%;
        height: 100%;
    }
    .modalContain{
        width: 70%;
        height: 75%;
        border: 2px solid black;
        position: absolute;
        top: 14%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 10%;
    }
    .plumaButton{
        border: 2px solid purple;
        width: 20%;
        background-color: transparent;
        border: none;
        position: absolute;
        right: 0%;
        bottom: 0%;

    }
    .plumaButton:hover{
        cursor: pointer;
    }
        .plumaButton p{
            position: absolute;
            bottom: 5%;
            left: 5%;
            font-size: 1.3rem;
            font-weight: bold;
        }
        input{
            background-color: var(--background-color-input);
            height:40px;
            border-radius: 4px;
            font-size: larger
        }