<main class="modal">
    <img src="../../../assets/backgrounds/bg_modal.png" alt="">
    <div class="modalContain">
        <p>Tirada de nacimientos:</p>
        <div>
            <p>Modificador. Circunstancia economica: {{personajePadre.modificadorEconomico}}</p>
            <p>Modificador. Edad de la madre: {{personajePadre.modificadorMadre}}</p>
        </div>
        <div *ngIf="personajePadre.resultado == 'No has tenido ningun hijo'">
            <p>Resultado: </p>
            <p>No has tenido ningun hijo.</p>
            <button class="plumaButton" (click)="modal(null)">
                <img src="../../../assets/img/PLUMA.png" alt="">
                <p>Ok</p>
            </button>
        </div>
        <div *ngIf="personajePadre.resultado == 'Tu mujer y tu hijo mueren durante el parto'">
            <p>Resultado: </p>
            <p>Tu esposa y tu hijo han muerto durante el parto.</p>
            <button class="plumaButton" (click)="modal(null)">
                <img src="../../../assets/img/PLUMA.png" alt="">
                <p>Ok</p>
            </button>
        </div>
        <div *ngIf="personajePadre.resultado == 'El hijo vive pero tu mujer muere durante el parto'">
            <p>Resultado: </p>
            <p>Su esposa ha muerto</p>
            <div *ngIf="personajePadre.sexoHijo == 'Hombre';else ninia">
                Ha nacido un {{personajePadre.sexoHijo}}
            </div>
            <ng-template #ninia>
                Ha nacido una {{personajePadre.sexoHijo}}
            </ng-template>
                <input type="text" placeholder="Introduce su nombre" #nombreA>
        
                <button class="plumaButton" (click)="modal(nombreA.value)">
                    <img src="../../../assets/img/PLUMA.png" alt="">
                    <p>Ok</p>
                </button>
        </div>
        <div *ngIf="personajePadre.resultado == 'Nace un hijo'">
            <p>Resultado: </p>
            <p *ngIf="personajePadre.sexoHijo == 'Hombre'">Ha nacido un niño.</p>
            <p *ngIf="personajePadre.sexoHijo == 'Mujer'">Ha nacido una niña.</p>
                <input type="text" placeholder="Introduce su nombre" #nombreB>
        
            <button class="plumaButton" (click)="modal(nombreB.value)">
                <img src="../../../assets/img/PLUMA.png" alt="">
                <p>Ok</p>
            </button>
        </div>

        
    </div>
</main>