<div class="padre" >

    <div class="main">

          <!-- hijo 1 MAIN -->
        <div class="contenido">

            <div class="zonaB">

                <div class="zonaB_a">

                        <p class="titulo">FASE DE INVIERNO<br></p>
                        <p class="nombreUsuario">{{nombre}} {{apellidos}}</p>

                </div>

                <div class="zonaB_b">

                        <!-- <img class="pergamino" src="../../../assets/img/pergamino-chato.png"> -->
                            
                             <div class="caja">

                                  <div class="escudo">
                                        <div class="caja_escudo"> 
                                            <img src="{{foto_escudo}}">
                                        </div>
                            
                                        <div class="paso">
                                            <p>Paso 6b:</p>
                                            <p>Familia</p>  
                                        </div>

                                  </div>

                                  <div class="prologo"> 


                                    <div class="prologo1"><!-- hijo 1 prólogo -->
                                        <p class="frase">Nacimientos</p>
                                    </div>

                                    <div class="prologo2"><!-- hijo 2 prólogo -->
                                        <p class="frase1">Modificador: Circunstancia Económica: <span class="numero">{{cisrcunstanciaEconomica}}</span></p>
                                        <p class="frase1">Modificador: Edad de la madre: <span class="numero">{{edadMadre}}</span></p>

                                    </div>

                                    <div class="prologo3"><!-- hijo 3 prólogo -->

                                        <div class="hijito">

                                           <p class="frase">{{mujerRol[0]}}:  &nbsp;{{mujer[0]}}</p>
                                           <p class="frase">{{mujerRol[1]}}: &nbsp;{{mujer[1]}}</p>
                                           <p class="frase">{{mujerRol[1]}}: &nbsp;{{mujer[2]}}</p>
                                        </div>
                                        <div class="hijito2">

                                           <input class="input" value="INTRODUCE TIRADA" #tiradaDados>
                                           <input class="input" value="INTRODUCE TIRADA" #tiradaDados>
                                           <input class="input" value="INTRODUCE TIRADA" #tiradaDados>
                                        </div>
                                        <div class="hijito3">

                                           <button class="boton" onclick="calcularNacimientos()">Calcular</button>
                                           <button class="boton" onclick="calcularNacimientos()">Calcular</button>
                                           <button class="boton" onclick="calcularNacimientos()">Calcular</button>
                                        </div>
                                    </div>
                                    <div class="prologo4"><!-- hijo 4 prólogo -->
                                        <p class="eventosFamiliares">EVENTOS FAMILIARES</p>
                                        <p class="frase1">Haz tirada de dados acorde con la tabla...</p>
                                    </div>
                                        
                                        
                                  </div>

                            </div> <!-- cierre CAJA -->
                        

                </div>  <!-- CIERRE PERGAMINO -->
            </div><!-- CIERRE ZONA B -->
        </div> <!-- CIERRE CONTENIDO --> 

    </div><!-- CIERRE MAIN -->

    <!-- hijo 2 -->

     <div class="dagas">

        <div class="back">
            <a routerLink = "/phase6a" class="daga_derecha"><img src="../../../assets/img/daga-atras.png" alt="" ></a>
            <a routerLink = "/phase6a" class="volver">VOLVER</a>

        </div>

        <div class="next">
            <a routerLink = "/phase7" class="daga_izquierda"><img src="../../../assets/img/daga-adelante.png" alt="" ></a>
            <a routerLink = "/phase7" class="siguiente">SIGUIENTE</a>
        </div>


    </div><!-- cierre dagas -->

</div><!-- CIERRE PADRE -->
