<div class="padre" >

    <div class="main">

        <div class="izquierda">

            <div class="dagas">
    
                <a class="siguiente" routerLink="/phase7">AVANZA</a>
                <img class="daga_izquierda" routerLink="/phase7" src="../../../assets/img/daga-adelante.png">
            </div>
        </div><!-- cierra izquierda -->

        <div class="derecha">

                <div class="cabecera">

                        <p class="titulo">FASE DE INVIERNO<br></p>
                        <p class="nombreUsuario">{{currentPlayerName}}</p>

                </div><!-- cierra cabecera -->

                <div class="body">
                            
                    <div class="caja_escudo"> 

                            <div class="escudo"> 
                                <img src="{{foto_escudo}}">
                            </div>
                
                            <div class="paso">
                                <p>Paso VI b:</p>
                                <p>Familia</p>  
                            </div>

                    </div><!-- cierro caja_escudo -->

                    <div class="textolargo"> 


                            <div class="prologo1"><!-- hijo 1 prólogo -->
                                <p class="frase">NACIMIENTOS</p>
                            </div>

                            <div class="prologo3"><!-- hijo 3 prólogo -->
                                <div class="esposa" *ngIf="characterService.currentActiveChar.isMarried == 1 && characterService.haveWife == true;else noHayEsposa">
                                    <p><B>ESPOSA :</B> {{wife.char_name}}</p>
                                    <button (click)="calcularNacimientosEsposa()" class="boton">CALCULAR</button>
                                </div>
                                <ng-template #noHayEsposa>
                                    El personaje no esta casado o no puede tener hijos con su esposa durante este invierno.
                                </ng-template>
                                <div class="hijito" *ngIf="lovers.length != 0;else noHayAmantes">
                                    <p><B>AMANTES :</B></p>
                                    <div>
                                        <select class="select" name="" id="" #data >
                                            <option *ngFor="let amantes of lovers" [value]="amantes.char_name" >{{amantes.char_name}}</option>
                                        </select>
                                        <button (click)="calcularNacimientos(data.value)" class="boton2">CALCULAR</button>    
                                    </div>
                                </div>
                                <ng-template #noHayAmantes>
                                    El personaje no tiene ninguna amante.
                                </ng-template>
                            </div>
                            <div class="prologo4"><!-- hijo 4 prólogo -->
                                <p class="eventosFamiliares">EVENTOS FAMILIARES</p>
                                <p class="frase1">Haz tirada de dados acorde con la tabla...</p>
                            </div>
                            
                            
                        </div>

                </div> 
                        

                </div>  
            </div><!-- cierre derecha -->
    </div> <!-- CIERRE main --> 



<div *ngIf="!isHide">
    <app-births-modal class="modal" [personajePadre]="datosBirth" (cerrarModal)="cerrarModal($event)"></app-births-modal>
</div>
