<div class="padre" >

    <div class="main">

            <div class="zonaA">


                <div class="zonaA_a">

                        <p class="titulo">FASE DE INVIERNO<br></p>
                        <p class="nombreUsuario">{{nombre}} {{apellidos}}</p>

                </div>

                <div class="zonaA_b">

                        <div class="cajita"></div>

                        <img class="pergamino" src="../../../assets/img/pergamino-chato.png">
                            
                             <div class="caja">

                                  <div class="escudo">
                                    
                                            <img class="imagen_escudo" src="{{foto_escudo}}"> 

                            
                                           <div class="paso7">

                                            <p><b>Paso 7:</b><br>
                                                Entrenamiento<br>

                                           </div>

                                  </div>

                                  <div class="textolargo">

                                    <p class="pasoOpcional">Personaje jugador</p>
                                    <p class="pasoOpcional2">El jugador debe de llevar a cabo <span style="font-weight: bold;">solo una</span> de las siguientes tareas en su hoja de personaje:</p>
                                <div class="list">
                                    <ul>
                                        <li> Ganar 1d6+1 puntos en habilidades (hasta un máximo de 15).   
                                        <li> Ganar un punto en una habilidad (hasta un máximo de 20).
                                        <li> Mejorar  una  característica,  rasgo  de  personalidad  o  pasión.<br>
                                    </ul>
                                </div>
                                    <p>Los siguiente <span style="font-weight: bold;">PNJ</span> reciben 1d3 puntos para aumentar cualquiera de sus habilidades:<br></p>
                                     
                                     <p class="Alain" *ngFor="let character of houseCharacters.characters" [value]="name">{{character.name}}</p>

                                  </div>

                            </div>

                        <div class="cajita"></div>

                </div>

                  
            </div>

            <div class="zonaB">
               
            </div>
    </div>
<!-- aqui iba Dagas -->
</div>

