<!-- <p>campaing-confirmdelete works!</p> -->
<main class="modal">
    <img src="../../../assets/backgrounds/bg_modal.png" alt="">
    <div class="modalContain">
        <p>¿Eliminar campaña?</p>
       <!--  <input class="input" type="text" name="nombre" id="" placeholder="Nombre de Jugador" #nombre> -->
        <button class="small_button" type="button" class="close" aria-label="Close" (click)="modal('Close')">ELIMINAR</button>
        <img class="espaditas" style="width: 90px; height: 90px ;"src="../../../assets/img/espada_cruzada.png">
    </div>

</main>
