<!-- <p>campaing-confirmdelete works!</p> -->
<main class="modal">
    <img src="../../../assets/backgrounds/bg_modal.png" alt="">
    <div class="modalContain">
        <p>¿Estás seguro que quieres borrar esta campaña?</p>
        <button class="small_button" (click)="cerrarModal()">CANCELAR</button>
        <button class="small_button" (click)="borrarCampaing(campaignPadre)">ELIMINAR</button>
        <img class="espaditas" style="width: 100px; height: 100px ;"src="../../../assets/img/espada_cruzada.png">
    </div>

</main>
