.component{
    /* LE DOY POSICION FIJA AL COMPONENTE HEADER / */
    /* Meter este código donde haya header */
    position:absolute;
    width: 100%;
    /* border: 2px solid black; */
}

.component{
    /* LE DOY POSICION FIJA AL COMPONENTE HEADER / */
    position:absolute;
    width: 100%;
    /* border: 2px solid black; */
}

.profile_pic{
    position: absolute;
    top: 12%;
    right: 10%;
    width: auto;
    height: auto;
    /* border: 5px solid yellowgreen; */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(../../../assets/img/lacre1.png);
    background-size:cover;
}

.profile_pic img{
    margin-left: 5px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.supercontainer{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    padding-top: 6%;
    background-image: url(../../../assets/backgrounds/bg_yelmos.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    /* padding-bottom: 5vh; */
    /* border: 5px solid blue; */
}
.maincontainer{
    display: flex;
    flex-direction: row;
    /* border: 5px solid red; */
    height: 65%;
    width: auto;


}

.page_title{
    color: var(--font-color-h);
    font-size: 400%;
    -webkit-text-stroke: 0.75px var(--font-color-hover);
}

.page_subtitle{
    color: var(--font-color-primary);
    font-size: 200%;
}


.left{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    padding-left: 3%;
    /* border: 5px solid pink; */
    margin-bottom: 13vh;
    padding-right: 2%;
}
.image_left{
    display: flex;
    flex-direction: column;
}

    .short_inputs{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap:15px;
        /* border: 2px solid blueviolet */

    }

            .character_name_input{
                display: flex;
                flex-direction: column;
                gap:5px;
            }

            .character_age_input{
                display: flex;
                flex-direction: column;
                gap:5px;
            }

                .character_age_input input{
                    width: 50px;
                }

            .squire_name_input{
                display: flex;
                flex-direction: column;
                gap:5px;
            }

    .npc_list{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 90%;

        /* border:2px solid white; */
    }

        .header{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            /* border:2px solid green; */
        }
        
            .header span{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 30%;
                /* border:2px solid orangered; */
                font-size: larger;
                color:white;
                text-decoration: underline;
            }

        .character{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            border:1px solid black
        }

            .character span{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 30%;
                /* border:2px solid orangered */
            }

            .character span:hover{
                cursor: pointer;
                color: white;
            }

        .editchar{
            display: flex;
            flex-direction: row;
            /* border:2px solid green; */
            justify-content: center;
            align-items: center;
        
        }
            .editchar img{
                width: 60%;
            }
            .editarIcon{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 10%;
                /* border: 2px solid black; */
            }

        .emptycharacter{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border:1px solid black;
            min-height: 40px;
        }

        /* .emptycharacter span{
            color:antiquewhite
        } */

        .emptycharacter span:hover{
            color:white;
            cursor:pointer
        }

    .choose_new_character{
        display: flex;
        flex-direction: row;
        gap:25px;
        justify-content: center;
        align-items: center;
    }

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    /* padding-right: 5%; */
    /* border: 5px solid black; */
}

.shield_selector{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    /* gap:15px; */
    /* border: 5px solid violet; */
}

.shield_selector img{
    display: flex;
    flex-direction: row;
    max-width: 40%;
    /* border: 5px solid brown; */
}

.shield_selector img:hover{
    transform: scale(1.5);
    cursor:pointer
}

.shield_selector img{
    transform: scale(1.5);
    cursor:pointer
}

.player-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    /* border:2px solid purple */
}

.year-title-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 2px solid teal; */
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-right: 200px; */
    /* border: 5px solid brown; */
}

.image_left{
    height: 70vh;
    /* border: 5px solid green; */

}

.imageleft{
    height: 100%;
    /* border: 5px solid green; */

}

.container{
    /* border: 5px solid blue; */
}



.playerempty{
    /* border: 5px solid green; */
    display: flex;
    flex-direction: row;
}

.playerOk{

    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}

    .noshield{
        width: 64px;
        height: 44px ;
    }

    .playershield{
        display: flex;
        width: 64px;
        height: 64px;
    }
    .playername{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* border: 5px solid red; */
        width: 50%;
        background-image: url(../../../assets/img/banner_player.png);
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .emptyoptions{
        width: 88px;
    }
    .skull{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
        .skull img{
            width: 35px;
        }

    .quill{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

        .quill img{
            width: 35px;
        }


.campaignYear{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border:2px solid salmon; */
}

.year{
    /* border: 5px solid purple; */
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-right: 5%;
    padding-left: 5%;
    padding-top:3%;
    padding-bottom:3%
}

.buttons{    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:relative;
    bottom:-20px;
    gap:20px;
    /* border: 5px solid orangered; */
    padding-top: 5%;
    /* margin-left: 64px;
    padding-right: 64px; */
    /* width: 64px;
    height: 44px ; */
}
    button{
        background-color: var(--font-color-h);
        font-size: larger;
        border-radius: 3px;
        padding: 15px 32px;
        color: white;
    }

        .small_button{
            background-color: var(--font-color-h);
            font-size: large;
            border-radius: 3px;
            padding: 5px 10px;
        }

    button:hover{
        color: var(--font-color-hover);
        cursor: pointer;
    }

    button:disabled{
        background-color: grey;
        color:black;
        cursor:default
    }

input{
    background-color: var(--background-color-input);
    height:40px;
    border-radius: 4px;
    font-size: larger
}

input label{
    color: var(--font-color-label-input);
}

label{
    color: var(--font-color-label-input);
}

select{
    background-color: var(--background-color-input);
    height:40px;
    border-radius: 4px;
    font-size: larger
}


.arrow-left:hover{
    cursor: pointer;
}

.arrow-right:hover{
    cursor: pointer;
}

h3{
    color: var(--font-color-primary);
    font-size: 200%;
}

.skull img:hover{
    cursor: pointer;
}

.quill img:hover{
    cursor: pointer;
}


textarea{
    color: whitesmoke;
    background-color: var(--background-color-input);
    opacity: 60%;
}