
<app-header class="component"></app-header>

<div class="supercontainer">

    <div class="year-title-cont">

        <div class="campaignYear" #yearsInBetween>



           <div class="flechita">
                <img (click)="previousYear()" src="../../../assets/img/left-arrow.png" style="scale: 0.3;" class="arrow-left" *ngIf="actualYear.isFirstYear==0">
            </div>
            <div class="numeritos">
                <p>{{actualYear.yearNumber}}</p>
            </div>
            <div class="flechita">
                <img (click)="nextYear()" src="../../../assets/img/right-arrow.png" style="scale: 0.3;" class="arrow-right" *ngIf="actualYear.isLastYear==0">
            </div>

        </div><!-- cierra campaing year -->
        <div class="title">
            <p class="page_title">{{campaignService.currentCampaign.campaign_name}}</p>
            <p class ="page_subtitle">Pantalla principal </p>
        </div>
    </div>
<!-- <form #houseForm="ngForm" (ngSubmit)="onSubmit(houseForm)">  -->
<div class="maincontainer">
    <div class="left">
        <label class="notas">NOTAS:</label>
            <textarea rows="33%" maxlength="5000" style="border: none; resize: none;">{{actualYear.notes}}
            </textarea>
    </div>

    <div class="right">
        <div class="player-list">
            <div class="npc_list">
                <!-- Los personajes van apareciendo en esta  -->
            
                <!-- Cabecera -->
                <div class="texto">
                    <span>JUGADOR</span><span>PERSONAJE ACTIVO</span><span>CASA</span><span>EDITAR</span>
                </div>


                <!-- Personajes -->
                <div class="character" style="background-color: rgb(130, 23, 25,0.6);" *ngIf="playerService.playersOfCampaign[0] != null; else emptyPlayer">
                    <span class="span1" (click)="showModalPlayer(playerService.playersOfCampaign[0])">{{playerService.playersOfCampaign[0].player_name}}</span>
                    <span class="span2"(click)="showModalCharacter()">{{houseService.housesOfCamapaign[0].activeChar}}</span>
                    <span class="span3"(click)="showModalHouse()">{{houses[0].house_name}}</span>
                    <span class="editarIcon" style="width: 6%;">                    
                        <div class="editchar">
                            <img (click)="goCreateHouse()"src="../../../assets/img/PLUMA.png">
                        </div>
                    </span>
                </div>

                <div class="character" style="background-color: rgb(130, 23, 25,0.6);"*ngIf="playerService.playersOfCampaign[1] != undefined; else emptyPlayer">
                    <span class="span1"(click)="showModalPlayer(playerService.playersOfCampaign[1])">{{playerService.playersOfCampaign[1].player_name}}</span>
                    <span class="span2"(click)="showModalCharacter()">{{houseService.housesOfCamapaign[1].activeChar}}</span>
                    <span class="span3"(click)="showModalHouse()">{{houseService.housesOfCamapaign[1].house_name}}</span>
                    <span class="editarIcon" style="width: 6%;">                    
                        <div class="editchar">
                            <img (click)="goCreateHouse()" src="../../../assets/img/PLUMA.png">
                        </div>
                    </span>
                </div>

                <div class="character" style="background-color: rgb(130, 23, 25,0.6);" *ngIf="playerService.playersOfCampaign[2] != undefined; else emptyPlayer">
                    <span class="span1"(click)="showModalPlayer(playerService.playersOfCampaign[2])">{{playerService.playersOfCampaign[2].player_name}}</span>
                    <span class="span2"(click)="showModalCharacter()">{{houseService.housesOfCamapaign[2].activeChar}}</span>
                    <span class="span3"(click)="showModalHouse()">{{houseService.housesOfCamapaign[2].house_name}}</span>
                    <span class="editarIcon" style="width: 6%;">                    
                        <div class="editchar">
                            <img (click)="goCreateHouse()" src="../../../assets/img/PLUMA.png">
                        </div>
                    </span>
                </div>

                <div class="character" style="background-color: rgb(130, 23, 25,0.6);"*ngIf="playerService.playersOfCampaign[3] != undefined; else emptyPlayer">
                    <span class="span1"(click)="showModalPlayer(playerService.playersOfCampaign[3])">{{playerService.playersOfCampaign[3].player_name}}</span>
                    <span class="span2"(click)="showModalCharacter()">{{houseService.housesOfCamapaign[3].activeChar}}</span>
                    <span class="span3"(click)="showModalHouse()">{{houseService.housesOfCamapaign[3].house_name}}</span>
                    <span class="editarIcon" style="width: 6%;">                    
                        <div class="editchar">
                            <img (click)="goCreateHouse()" src="../../../assets/img/PLUMA.png">
                        </div>
                    </span>
                </div>

                <div class="character" style="background-color: rgb(130, 23, 25,0.6);"*ngIf="playerService.playersOfCampaign[4] != undefined; else emptyPlayer">
                    <span class="span1"(click)="showModalPlayer(playerService.playersOfCampaign[4])">{{playerService.playersOfCampaign[4].player_name}}</span>
                    <span class="span2"(click)="showModalCharacter()">{{houseService.housesOfCamapaign[4].activeChar}}</span>
                    <span class="span3"(click)="showModalHouse()">{{houseService.housesOfCamapaign[4].house_name}}</span>
                    <span class="editarIcon" style="width: 6%;">                    
                        <div class="editchar">
                            <img (click)="goCreateHouse()" src="../../../assets/img/PLUMA.png">
                        </div>
                    </span>
                </div>

                <div class="character"style="background-color: rgb(130, 23, 25,0.6);"*ngIf="playerService.playersOfCampaign[5] != undefined; else emptyPlayer">
                    <span class="span1"(click)="showModalPlayer(playerService.playersOfCampaign[5])">{{playerService.playersOfCampaign[5].player_name}}</span>
                    <span class="span2"(click)="showModalCharacter()">{{houseService.housesOfCamapaign[5].activeChar}}</span>
                    <span class="span3"(click)="showModalHouse()">{{houseService.housesOfCamapaign[5].house_name}}</span>
                    <span class="editarIcon" style="width: 6%;">                    
                        <div class="editchar">
                            <img (click)="goCreateHouse()" src="../../../assets/img/PLUMA.png">
                        </div>
                    </span>
                </div>



            <ng-template #emptyPlayer>
                <div class="emptycharacter" style="background-color: rgb(130, 23, 25,0.6);">
                    <span (click)="goNewPlayer()">AÑADIR NUEVO JUGADOR</span>
                </div>
            </ng-template>

                </div>
        </div>


        <div class="buttons" *ngIf="actualYear.isLastYear==1; else noNext">
            <button (click)="goNext()">FASE DE INVIERNO</button>
        </div>


        <ng-template #noNext>
            <div></div>
        </ng-template>
    </div>



</div>
<!-- </form> -->
</div>

<!-- <app-change-character-modal class="modal" [hidden]="isChangeCharacterHide"></app-change-character-modal>
<app-new-player-name-modal class="modal" [hidden]="isnewPlayerNameHide"></app-new-player-name-modal>
<app-house-info-modal class="modal" [hidden]="isHouseInfoHide"></app-house-info-modal> -->

<div class="modal" id="modal" [hidden]="isnewPlayerNameHide">
    <a (click)="showModalPlayer(null)" class="modal-bg"></a>
    <div class="modal-content">
        <div class="contenido">
            <a (click)="showModalPlayer(null)" class="modal-exit">x</a>
            <h3 class="modal-title">Introduce un nuevo nombre para el jugador</h3>
            <input class="input" type="text" name="" id="" placeholder="Nombre de Jugador" #nombre>
            <button class="small_button" (click)="changeName(nombre.value)">OK</button>    
        </div>
    </div>
</div>
<!-- 
<div class="modal2" id="modal2">
    <a href="#" class="modal-bg"></a>
    <div class="modal-content">
      <a href="#" class="modal-exit">x</a>
      <h3 class="modal-title">RoberModal</h3>
      <p class="modal-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, maxime reiciendis veritatis unde fuga voluptate quis laboriosam ea perferendis itaque </p>
    </div>
</div>

<div class="modal3" id="modal3">
    <a href="#" class="modal-bg"></a>
    <div class="modal-content">
      <a href="#" class="modal-exit">x</a>
      <h3 class="modal-title">RoberModal</h3>
      <p class="modal-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, maxime reiciendis veritatis unde fuga voluptate quis laboriosam ea perferendis itaque </p>
    </div>
</div> -->