
<app-header class="component"></app-header>

<div class="supercontainer">

    <div class="year-title-cont">
     <!--    <div class="title">
            <p class="page_title">{{campaignName}}</p>
            <p class ="page_subtitle">Pantalla principal </p>
        </div> -->

        <div class="campaignYear" #yearsInBetween>

            <div class="flechita">
                <img (click)="previousYear()" src="../../../assets/img/left-arrow.png" style="scale: 0.4;" class="arrow-left" *ngIf="actualYear.isFirstYear==false">
            </div>
            <div class="numeritos">
                <p>{{actualYear.yearNumber}}</p>
            </div>
            <div class="flechita">
                <img (click)="nextYear()" src="../../../assets/img/right-arrow (1).png" style="scale: 0.4;" class="arrow-right" *ngIf="actualYear.isLastYear==false">
            </div>
        </div><!-- cierra campaing year -->

        <div class="title">
            <p class="page_title">{{campaignName}}</p>
            <p class ="page_subtitle">Pantalla principal </p>
        </div>




    </div>
<!-- <form #houseForm="ngForm" (ngSubmit)="onSubmit(houseForm)">  -->
<div class="maincontainer">
    <div class="left">
        <label class="header">NOTAS:</label>
            <textarea rows="33%" maxlength="5000" style="border: none; margin: 1%; font-style: oblique;padding-left:1%">{{actualYear.notes}}
            </textarea>
    </div>

    <div class="right">
        <div class="player-list">
            <div class="npc_list">
                <!-- Los personajes van apareciendo en esta  -->
            
                <!-- Cabecera -->
                <div class="header">
                    <span>JUGADOR</span><span>PERSONAJE ACTIVO</span><span>CASA</span><span style="width: 6%;">EDITAR</span>
                </div>


                <!-- Personajes -->
                <div class="character" style="background-color: rgb(130, 23, 25,0.6);" *ngIf="actualYear.players[0].id != null; else emptyPlayer">
                    <span (click)="showModalPlayer()">{{actualYear.players[0].name}}</span>
                    <span (click)="showModalCharacter()">{{actualYear.players[0].activeChar}}</span>
                    <span (click)="showModalHouse()">{{actualYear.players[0].house}}</span>
                    <span class="editarIcon" style="width: 6%;">                    
                        <div class="editchar">
                            <img (click)="goCreateHouse()"src="../../../assets/img/PLUMA.png">
                        </div>
                    </span>
                </div>

                <div class="character" style="background-color: rgb(218, 193, 105,0.6);" *ngIf="actualYear.players[1].id != null; else emptyPlayer">
                    <span (click)="showModalPlayer()">{{actualYear.players[1].name}}</span>
                    <span (click)="showModalCharacter()">{{actualYear.players[1].activeChar}}</span>
                    <span (click)="showModalHouse()">{{actualYear.players[1].house}}</span>
                    <span class="editarIcon" style="width: 6%;">                    
                        <div class="editchar">
                            <img (click)="goCreateHouse()" src="../../../assets/img/PLUMA.png">
                        </div>
                    </span>
                </div>

                <div class="character" style="background-color: rgb(152, 37, 37,0.6);" *ngIf="actualYear.players[2].id != null; else emptyPlayer">
                    <span (click)="showModalPlayer()">{{actualYear.players[2].name}}</span>
                    <span (click)="showModalCharacter()">{{actualYear.players[2].activeChar}}</span>
                    <span (click)="showModalHouse()">{{actualYear.players[2].house}}</span>
                    <span class="editarIcon" style="width: 6%;">                    
                        <div class="editchar">
                            <img (click)="goCreateHouse()" src="../../../assets/img/PLUMA.png">
                        </div>
                    </span>
                </div>

                <div class="character" style="background-color: rgb(218, 193, 105,0.6);"*ngIf="actualYear.players[3].id != null; else emptyPlayer">
                    <span (click)="showModalPlayer()">{{actualYear.players[3].name}}</span>
                    <span (click)="showModalCharacter()">{{actualYear.players[3].activeChar}}</span>
                    <span (click)="showModalHouse()">{{actualYear.players[3].house}}</span>
                    <span class="editarIcon" style="width: 6%;">                    
                        <div class="editchar">
                            <img (click)="goCreateHouse()" src="../../../assets/img/PLUMA.png">
                        </div>
                    </span>
                </div>

                <div class="character" style="background-color: rgb(152, 37, 37,0.6);"*ngIf="actualYear.players[4].id != null; else emptyPlayer">
                    <span (click)="showModalPlayer()">{{actualYear.players[4].name}}</span>
                    <span (click)="showModalCharacter()">{{actualYear.players[4].activeChar}}</span>
                    <span (click)="showModalHouse()">{{actualYear.players[4].house}}</span>
                    <span class="editarIcon" style="width: 6%;">                    
                        <div class="editchar">
                            <img (click)="goCreateHouse()" src="../../../assets/img/PLUMA.png">
                        </div>
                    </span>
                </div>

                <div class="character" style="background-color: rgb(218, 193, 105,0.6);"*ngIf="actualYear.players[5].id != null; else emptyPlayer">
                    <span (click)="showModalPlayer()">{{actualYear.players[5].name}}</span>
                    <span (click)="showModalCharacter()">{{actualYear.players[5].activeChar}}</span>
                    <span (click)="showModalHouse()">{{actualYear.players[5].house}}</span>
                    <span class="editarIcon" style="width: 6%;">                    
                        <div class="editchar">
                            <img (click)="goCreateHouse()" src="../../../assets/img/PLUMA.png">
                        </div>
                    </span>
                </div>



            <ng-template #emptyPlayer>
                <div class="emptycharacter" style="background-color: rgb(152, 37, 37,0.6);" >
                    <span (click)="goNewPlayer()">AÑADIR NUEVO JUGADOR</span>
                </div>
            </ng-template>

                </div>
        </div>


        <div class="buttons" *ngIf="actualYear.isLastYear==true; else noNext">
            <button (click)="goNext()">JUGAR CAMPAÑA</button>
        </div>


        <ng-template #noNext>
            <div></div>
        </ng-template>
    </div>



</div>
<!-- </form> -->
</div>

<app-change-character-modal class="modal" [hidden]="isChangeCharacterHide"></app-change-character-modal>
<app-new-player-name-modal class="modal" [hidden]="isnewPlayerNameHide"></app-new-player-name-modal>
<app-house-info-modal class="modal" [hidden]="isHouseInfoHide"></app-house-info-modal>