.component{
    /* LE DOY POSICION FIJA AL COMPONENTE HEADER / */
    /* Meter este código donde haya header */
    position:absolute;
    width: 100%;
    /* border: 2px solid rgb(224, 208, 208); */
}

.component{
    /* LE DOY POSICION FIJA AL COMPONENTE HEADER / */
    position:absolute;
    width: 100%;
    /* border: 2px solid rgb(175, 19, 19); */
}

/* .profile_pic{
    position: absolute;
    top: 12%;
    right: 10%;
    width: auto;
    height: auto;
    border: 5px solid yellowgreen; 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(../../../assets/img/lacre1.png);
    background-size:cover;
} */

/* .profile_pic img{
    margin-left: 5px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
} */

.supercontainer{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    padding-top: 6%;
    background-image: url(../../../assets/backgrounds/fondo_yeloms_oscuro.png);
    background-size:cover;
    background-repeat: no-repeat;
    /* padding-bottom: 5vh; */
  /*   border: 5px solid blue; */
}
.maincontainer{
    display: flex;
    flex-direction: row;
    /* border: 5px solid rgb(255, 0, 144); */ 
    height: 65%;
    width: auto;
    padding-top: 3%;


}

.page_title{
    color: var(--font-color-hover);
    -webkit-text-stroke: 2px var(--font-color-h);
   /*  text-decoration: line-through; */
    font-size: 4.5rem;
  /*   border: 2px solid rgb(255, 0, 230); */
    font-weight: bold;

   /*  border: 5px solid rgb(243, 9, 146);  */
   
}

.page_subtitle{
    color: var(--font-color-warnings);
    font-size: 2rem;
    font-weight: bold;
    justify-self: flex-end;
    padding-left: 25%;
   /*  border: 5px solid rgb(255, 0, 144);  */
}


.left{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 95%;
    padding-left: 3%;
    padding-top: 1%;
    margin-bottom: 13vh;
    padding-left: 5%;
   /*  border: 2px solid blueviolet   */
}
.image_left{
    display: flex;
    flex-direction: column;
    display: none;
}

    .short_inputs{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap:15px;
        /* border: 2px solid blueviolet  */

    }

            .character_name_input{
                display: flex;
                flex-direction: column;
                gap:5px;
            }

            .character_age_input{
                display: flex;
                flex-direction: column;
                gap:5px;
            }

                .character_age_input input{
                    width: 50px;
                }

            .squire_name_input{
                display: flex;
                flex-direction: column;
                gap:5px;
            }

    .npc_list{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 90%;

        /* border:2px solid white; */
    }

        .header{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            /* border:2px solid rgb(12, 239, 12); */
            color: var( --font-color-hover);
            /*  margin: 1%; */
             font-weight: bold;
             font-size:0.8rem;
        }
        
            .header span{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 30%;
                /* border:2px solid orangered; */
                font-size: larger;
                color: var(--font-color-hover);
               /*  text-decoration: underline; */
            }
            .notas{
                color: var( --font-color-warnings);
                font-weight: bold;
                font-size:1rem;
                margin-block-end: 1%;
            }
            .texto{
            
                flex-wrap: wrap;
                margin: 1%;
                border-radius: 3px;
              /*   border:1px solid rgb(180, 123, 148); */

                color: var( --font-color-warnings);
                font-weight: bold;
                font-size:1rem;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                width: 100%;
            
            }

        .character{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin: 1%;
            color:var( --font-color-hover);
            font-weight: bold;
            border-radius: 3px;
            /* border:1px solid rgb(180, 123, 148) */
        }
            .span1{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 25%;
               /*  border:2px solid orangered */
            }
            .span2{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 35%;
               /*  border:2px solid orangered */
            }
            .span3{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 20%;
               /*  border:2px solid orangered */
            }

            .character span:hover{
                cursor: pointer;
                color: white;
            }

        .editchar{
            display: flex;
            flex-direction: row;
            /* border:2px solid green;  */
            justify-content: center;
            align-items: center;
        
        }
            .editchar img{
                width: 60%;
            }
            .editarIcon{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                width: 10%;
                margin-left: 8%;
               /*  border: 2px solid black; */
            }

        .emptycharacter{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            color:var( --font-color-hover);
            opacity: 0.6;
            font-weight: bold;
            font-size: 0.8rem;

          /*   border: 0.5px solid black; */
            height: 30px;
            margin: 1%;
        }

        /* .emptycharacter span{
            color:antiquewhite
        } */

        .emptycharacter span:hover{
            color:white;
            cursor:pointer
        }

    .choose_new_character{
        display: flex;
        flex-direction: row;
        gap:25px;
        justify-content: center;
        align-items: center;
    }

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    /* padding-right: 5%; */
   /*  border: 5px solid rgb(247, 244, 244); */
    display: inline;
}

.shield_selector{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    /* gap:15px; */
    /*  border: 5px solid violet;  */
}

.shield_selector img{
    display: flex;
    flex-direction: row;
    max-width: 40%;
    /*  border: 5px solid brown;  */
}

.shield_selector img:hover{
    transform: scale(1.5);
    cursor:pointer
}

.shield_selector img{
    transform: scale(1.5);
    cursor:pointer
}

.player-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    /* border:2px solid purple */
}

.year-title-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /*  border: 2px solid rgb(119, 0, 128);  */
     align-items: center;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100%;

    /* border: 5px solid rgb(136, 165, 42);  */
}

.image_left{

    display: none;
    height: 70vh;
  /*   border: 5px solid green;  */

}

.imageleft{
    height: 100%;
    /* border: 10px solid green; */

}

/* .container{
    /* border: 5px solid blue; */




.playerempty{
    /* border: 5px solid green; */
    display: flex;
    flex-direction: row;
}

.playerOk{

    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}

    .noshield{
        width: 64px;
        height: 44px ;
    }

    .playershield{
        display: flex;
        width: 64px;
        height: 64px;
    }
    .playername{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* border: 5px solid red; */
        width: 50%;
        background-image: url(../../../assets/img/banner_player.png);
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .emptyoptions{
        width: 88px;
    }
    .skull{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
        .skull img{
            width: 35px;
        }

    .quill{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       /*  border: 20ch solid pink; */
    }

        .quill img{
            width: 35px;
        }


.campaignYear{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    -webkit-text-stroke: 1px var(--font-color-hover);
   /*  border:10px solid rgb(177, 167, 239);  */
   
}
       .flechita{

        width: 33.33%;
        height: 100%;
        /* border:10px solid rgb(42, 12, 241); */
       }
       .numeritos{
        width: 33.33%;
        height: 60%;
        font-size: 3rem;
        color: black;
        -webkit-text-stroke: 3px var(--font-color-hover);
        /* text-decoration: line-through; */
        font-size: 4rem;
  /*   border: 2px solid rgb(255, 0, 230); */
        font-weight: bold;
       /*  border:10px solid rgb(177, 167, 239); */
       }

.year{
    /* border: 5px solid purple; */
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-right: 5%;
    padding-left: 5%;
    padding-top:3%;
    padding-bottom:3%;
    

}

.buttons{    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position:relative;

    width: 94%;
    height: 26%;
   /*  bottom:-20px; */
   /*  gap:20px; */
  /*  border: 5px solid orangered; */
   /*  padding-top: 5%; */
    /* margin-left: 64px;
    padding-right: 64px; */
    /* width: 64px;
    height: 44px ; */
}
    button{
        width: 25%;
        height: 50%;

        background-color: var(--font-color-h);
        font-size: 1.3rem;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        text-decoration: none;
        /* padding: 15px 32px; */
        color: var( --font-color-hover);
    }

        .small_button{
            background-color: var(--font-color-h);
            font-size: large;
            border-radius: 3px;
            padding: 5px 10px;
        }

    button:hover{
        color: var(--font-color-hover);
        cursor: pointer;
    }

    button:disabled{
        background-color: rgb(42, 55, 49);
        color:black;
        cursor:default
    }

input{
    background-color: var(--background-color-input);
    height:40px;
    border-radius: 4px;
    font-size: larger
}

input label{
    color: var(--font-color-label-input);
}

label{
    color: var(--font-color-label-input);
}

select{
    background-color: var(--background-color-input);
    height:40px;
    border-radius: 4px;
    font-size: larger
}


/* .arrow-left:hover{
    cursor: pointer;
}

.arrow-right:hover{
    cursor: pointer;
} */

h3{
    color: var(--font-color-primary);
    font-size: 200%;
}

.skull img:hover{
    cursor: pointer;
}

.quill img:hover{
    cursor: pointer;
}
.flechas{

    display: inline-block;
}

textarea{
    color: rgb(255, 255, 255);
    background-color: var(--background-color-input);
    opacity: 60%;
    padding-left: 1%;
    font-size: medium;
}
.modal {
    position: absolute;
    top: 15%;
    left: 10%;
}