<app-header class="component"></app-header>
<main class="main">
    <div class="div--1">
        LOGIN
    </div>
    <div class="div--2">
        <form class="form" action="">
            <div class="form--div-1">
                <label for="">usuario:</label>
                <input type="email">
            </div>
            <div class="form--div-2">
                <label for="">contraseña:</label>
                <input type="password">
            </div>
        </form>
        <button class="button">Login</button>
    </div>
</main>