.component{
    /* LE DOY POSICION FIJA AL COMPONENTE HEADER / */
    position:absolute;
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
}
.supercontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
   /*  padding-top: 7vh; */
    background-image: url(../../../assets/backgrounds/fondo_createhouse.png);
    background-size:cover;
    background-repeat: no-repeat;
    /* padding-bottom: 5vh; */
  /*    border: 5px solid rgb(255, 0, 111);  */
}
.maincontainer{
    display: flex;
    flex-direction: row;
    /* border: 5px solid rgb(162, 255, 0);  */
    width: 100%;
    height: 85%;
    padding-bottom: 1.95vh;

}           .title{
                width: 100%;
                height: 20%;
                /* border: 5px solid rgb(219, 219, 242); */
                
            }
            .page_title{
                color: var(--font-color-hover);
                -webkit-text-stroke: 2px var(--font-color-h);
               /*  text-decoration: line-through; */
                font-size: 4rem;
                /* border: 2px solid rgb(255, 0, 230); */
                font-weight: bold;
                text-align:end;
                padding-top: 2%;
                width: 95%; 
                height: 70%;
               /*  border: 5px solid blue;  */
            }
            
            .page_subtitle{
                color: var(--font-color-warnings);
                font-weight: bold;
                text-align:end;
                font-size: 2rem;
                width: 95%; 
                height: 30%;
                /* border: 5px solid blue;  */
            }

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 58%;
    height: 100%;
    padding-block-end: 2%;
   /*  padding-left: 5%; */
   /*  border: 5px solid pink; */
    /* margin-bottom: 13vh; */
    /* padding-right: 2%; */
    
}
.texto{

    color: var(--font-color-warnings);
    font-weight: bold;
    font-size: 1.2rem;
   /*  padding-block: 1%; */
}

.houseForm{
    width: 80%;
    height: 62%;
     gap: 1.6%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  /*   border:2px solid yellow; */
}
       

.houseForm input{
    width: 100%;
    height: 12%;
    background-color: var(--background-color-input);

    border-radius: 3px;
    border:none;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    color: var( --font-color-hover);
    /* border:2px solid rgb(0, 208, 255); */

}



.charForm{
    width: 80%;
    height: 26%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
   /*  border:5px solid rgb(25, 0, 255); */
    /* gap: 2%; */
    /* margin-top: 2%; */
    /* margin-bottom: 2%; */
}

    .short_inputs{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50%;
       /*  gap:3%; */
        /* border: 2px solid blueviolet;  */

    }

            .character_name_input{
                display: flex;
                flex-direction: column;
               /*  gap:5px; */
               /*  border: 2px solid blue;  */
                width: 42%;
                height: 90%;
            }
               .character_name_input input{
            
                width: 100%;
                height: 70%;
            }

            .character_age_input{
                display: flex;
                flex-direction: column;
                /* gap:5px; */
                /* border: 2px solid blue;  */
                width: 10%;
                height: 90%;
            }

                .character_age_input input{
                    width: 100%;
                    height: 90%;
                }

            .squire_name_input{
                display: flex;
                flex-direction: column;
                /* gap:5px; */
                /* border: 2px solid blue;  */
                width: 40%;
                height: 90%;
            }
               .squire_name_input input{
            
                width: 100%;
                height: 70%;
            }



    .npc_list{/* aqhi gap */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
       /*  border: 2px solid blue; */
        margin-bottom: 3%;
    }

    .choose_new_character{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
       /*  border: 2px solid yellow; */
    }

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 42%;
    height: 95%;
    padding-right: 3.5%;
    /* border: 5px solid rgb(217, 10, 10); */
  
}

.shield_selector{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:flex-start;
    flex-wrap: wrap;
    gap:4%;
    height: 60%;
    width: 100%;
  /*  border: 5px solid yellow   */
}

.shield_selector img{
    min-width: 20%;
    max-width: 20%;
    /* box-shadow: 10ch; */
   /*  border-image-outset: 0px 0px 2px 2px rgba(238, 50, 50, 0.4);  */
    margin: 1%;
    margin-block-end: 2%;
    transition: all .2s ease-in-out;
  /*    border: 5px solid rgb(108, 165, 42);  */
}

.shield_selector img:hover{
    transform: scale(1.2);
    cursor:pointer;
}

.shield_selector img:active{
    transform: scale(1.2);
}

.selectedShield{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



.fade-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }








.fade-in img{
    max-width: 56%;
    padding:1%;
}

.fade-in img hover{
    transform: scale(1);
    cursor:default;
}

/* .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 200px;
    /* border: 5px solid brown; */


.image_left{
    height: 70vh;
  /*   border: 5px solid green;  */

}

.imageleft{
    height: 100%;
   /*  border: 5px solid green;  */

}

/* .container{
    border: 5px solid blue;
}

.playerlist{
    border: 5px solid yellow;
}
    .playerlist img{
        width: 64px;
        height: 64px;
    } */


.playerempty{
    /* border: 5px solid green; */
    display: flex;
    flex-direction: row;
}

.playerOk{

    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}

    .noshield{
        width: 64px;
        height: 44px ;
    }

    .playershield{
        display: flex;
        width: 64px;
        height: 64px;
    }
    .playername{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* border: 5px solid red; */
        width: 50%;
        background-image: url(../../../assets/img/banner_player.png);
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .emptyoptions{
        width: 88px;
    }
    .skull{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
        .skull img{
            width: 35px;
        }

    .quill{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

        .quill img{
            width: 35px;
        }


.year{
    /* border: 5px solid purple; */
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-right: 5%;
    padding-left: 5%;
    padding-top:3%;
    padding-bottom:3%
}

.buttons{    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 80%;
    height: 12%;
    margin-top:1%;
    gap: 2%;
   /*  padding-top: 2%; */
   /*  gap:20px; */
/*     border: 5px solid orangered; */
    /* padding-top: 5%; */
    /* margin-left: 64px;
    padding-right: 64px; */
    /* width: 64px;
    height: 44px ; */
}
    button{
        background-color: var(--font-color-h);
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 10px;
        border: none;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        /*padding: 15px 32px; */
        color: var(--font-color-hover);
        width: 35%;
        height: 90%;
    }
    .pj_escudero{ /* BOTÓN */

        width: 40%;
        height: 35%;
        margin-top: 1.6%;
        border-radius: 10px;
        
     
    }

    .confirm{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        align-self: flex-end;
        border-radius: 8px;
        margin-top: 2%;
        width:72%;
        height: 14%;
    }
        .small_button{
            background-color: var(--font-color-h);
            font-size: 1.2rem;
            font-weight: bold;
            width: 35%;
            height: 90%;
            margin-top: 1.5%;
            border-radius: 8px;
            /* padding: 5px 10px; */
        }

    button:hover{
        color: var(--font-color-hover);
        cursor: pointer;
    }

    button:disabled{
        background-color: rgb(29, 62, 47);
        color:black;
        cursor:default
    }

input{
    background-color: var(--background-color-input);
   /*  height: 40px; */
   
    border-radius: 3px;
    border:none;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
    color: var( --font-color-hover);

}

input label{
    color: var(--font-color-label-input);
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
    color: var( --font-color-hover);
}


label{
    color: var(--font-color-label-input);
}

select{
    background-color: var(--background-color-input);
    height: 42px;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
    color: black;
    border:none;
    text-decoration: none;
}
.select2{
   
        background-color: var(--background-color-input);
        height: 40px;
        width: 100%;
       /*  margin: 2%; */
        border-radius: 4px;
        font-size: 1.2rem;
        font-weight: bolder;
        align-items: center;
        text-align: center;
        justify-self: center;
        color: black;
    }


h3{
    color: var(--font-color-primary);
    font-size: 200%;
}

.skull img:hover{
    cursor: pointer;
}

.quill img:hover{
    cursor: pointer;
}

.pj_escudero:enabled::after{
    content: "AÑADIR PJ & ESCUDERO";
}


.pj_escudero:disabled::after{
    content: "OK!";
}

.emptyFieldMessage{
    text-align: center;
    font-size: x-large;
    color: var(--font-color-warnings);
}