.component{
    /* LE DOY POSICION FIJA AL COMPONENTE HEADER / */
    position:absolute;
    width: 100%;
    height: 100vh;
    border: 2px solid black; 
}
/* 
.profile_pic{
    position: absolute;
    top: 12%;
    right: 10%;
    width: auto;
    height: auto;
    border: 5px solid yellowgreen;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(../../../assets/img/lacre1.png);
    background-size:cover;
}

.profile_pic img{
    margin-left: 5px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
} */

.supercontainer{

    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
   /*  align-items: center; */
    flex-direction: column;
    background-image: url(../../../assets/backgrounds/fondo_oscuro.png);
    background-size:cover;
    background-repeat: no-repeat;
    /* border: 5px solid blue;  */
}
       .title{ 
        width: 100%;
        height: 20%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        /* border: 5px solid rgb(229, 169, 228); */
    
        }
              .page_title{
                width: 65%;
                height: 80%;
                margin-left: 35%;
                margin-top: 3%;
               /*  border: 5px solid rgb(192, 237, 13); */
                font-size: 4.3rem;
                font-weight: bold;
                color: var(--font-color-hover);
                -webkit-text-stroke: 2px var(--font-color-h);
                
            }
            
            .page_subtitle{
                width: 65%;
                height: 20%;
                margin-left: 48%;
                color: var(--font-color-warnings);
                font-size: 1.5rem;
                font-weight: bolder;
                /* text-decoration: overline; */
            }
        .maincontainer{
         display: flex;
         flex-direction: row;
         /* border: 5px solid red;  */
         width: 100%;
         height: 80%;
         
         padding-bottom: 1.95vh;
        }



.left{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-left: 7%;
   /*  border: 5px solid rgb(243, 170, 23); */
    margin-bottom: 13vh;
    padding-right: 2%;
}
.image_left{
    display: flex;
    flex-direction: column;
}

.houseForm{
    display: flex;
    flex-direction: column;
}

    .short_inputs{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap:5%;
       /*  border: 2px solid blueviolet; */

    }
           .text{
            color: var(--font-color-warnings);
            font-size: 1.2rem;
            font-weight: bolder;
           }
           .input_text{

            text-align: center;
            font-weight: bolder;
            color: var(--font-color-hover);
           }

            .character_name_input{
                display: flex;
                flex-direction: column;
                gap:5px;
                /* border: 2px solid blue;  */
                width: 40%;
                border: none;
                text-decoration: none;

            }

            .character_age_input{
                display: flex;
                flex-direction: column;
                gap:5px;
                /* border: 2px solid blue;  */
                width: 10%;
                
            }

                .character_age_input input{
                    width: 100%;
                }

            .squire_name_input{
                display: flex;
                flex-direction: column;
                gap:5px;
               /*  border: 2px solid blue; */
                width: 40%
            }

    .npc_list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* border: 2px solid blue; */
        margin-bottom: 3%;
        color:aliceblue;
        font-weight: bolder;
    }

    .choose_new_character{
        display: flex;
        flex-direction: row;
        gap:25px;
        justify-content: center;
        align-items: center;
       /*  border: 2px solid rgb(0, 208, 255); */ 
        margin-bottom: 3%;
    }

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 75vh;
    /* padding-right: 5%; */
  /*   border: 5px solid rgb(242, 9, 9); */
    padding: 3%;
    gap:2%;
}

.shield_selector{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:10%;
    height: 100%;
    /* border: 5px solid rgb(6, 21, 74); */
}

.shield_selector img{
    min-width: 40px;
    max-width: 15%;
    transition: all .2s ease-in-out;
   /*   border: 5px solid brown;  */
}

.shield_selector img:hover{
    transform: scale(1.5);
    cursor:pointer;
}

.shield_selector img:active{
    transform: scale(1.5);
    /* border: 5px solid yellow; */
}

.selectedShield{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* border: 5px solid yellow; */
}



.fade-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
    flex-wrap: wrap;

    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
  }

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }








.fade-in img{
    max-width: 40%;
    padding:5px;
}

.fade-in img hover{
    transform: scale(1);
    cursor:default;
}

/* .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 200px;
    /* border: 5px solid brown; */


.image_left{
    height: 70vh;
    border: 5px solid green;

}

.imageleft{
    height: 100%;
 /*    border: 5px solid green; */

}

/* .container{
    border: 5px solid blue;
}

.playerlist{
    border: 5px solid yellow;
}
    .playerlist img{
        width: 64px;
        height: 64px;
    } */


.playerempty{
    /* border: 5px solid green; */
    display: flex;
    flex-direction: row;
}

.playerOk{

    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}

    .noshield{
        width: 64px;
        height: 44px ;
       /*  border: 5px solid green; */
    }

    .playershield{
        display: flex;
        width: 64px;
        height: 64px;
        /* border: 5px solid green; */
    }
    .playername{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* border: 5px solid red; */
        width: 50%;
        background-image: url(../../../assets/img/banner_player.png);
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .emptyoptions{
        width: 88px;
    }
    .skull{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
        .skull img{
            width: 35px;
        }

    .quill{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

        .quill img{
            width: 35px;
        }


/* .year{ */
    /* border: 5px solid purple; */
/*     display: flex;
    flex-direction: row;
    gap: 5px;
    padding-right: 5%;
    padding-left: 5%;
    padding-top:3%;
    padding-bottom:3%
} */

.buttons{    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 20%;

    gap:20px;
   /*  border: 5px solid orangered;  */
    padding-top: 5%;
    /* margin-left: 64px;
    padding-right: 64px; */
    /* width: 64px;
    height: 44px ; */
}
    button{
        background-color: var(--font-color-h);
        font-size: 1.5rem;
        font-weight: bold;
        height: 80%;
        width: 45%;
        border-radius: 15px;
        border: none;
        text-decoration: none;
        /* padding: 15px 32px; */
        color: var(--font-color-hover);
    }

    button:hover{
        color: var(--font-color-hover);
        cursor: pointer;
    }

    button:disabled{
        background-color: rgb(62, 72, 57);
        color:black;
        cursor:default
    }

input{/* si se usa */
    background-color: var(--background-color-input);
    height: 35px;
    border-radius: 4px;
    border: none;

    font-size: larger
}

input label{
    color: var(--font-color-label-input);
}

label{
    color: var(--font-color-label-input);
}

select{
    background-color: var(--background-color-input);
    height:40px;
    border-radius: 4px;
    font-size: larger;
    text-align: center;
}

h3{
    color: var(--font-color-primary);
    font-size: 200%;
}

.skull img:hover{
    cursor: pointer;
}

.quill img:hover{
    cursor: pointer;
}