<!-- <p>create-house works!</p> -->
<!-- <app-header class="component"></app-header> -->
<!-- esta no tiene que tener barra -->
<div class="supercontainer">
    <div class="title">
        <p class="page_title">CREACIÓN DE CASAS</p>
        <p class ="page_subtitle">Nombre del jugador</p>
    </div>

<!-- <form #houseForm="ngForm" (ngSubmit)="onSubmit(houseForm)"> -->
<div class="maincontainer">
    <div class="left">
        <form #charForm="ngForm" (ngSubmit)="submitCharInfo(charForm)" class="charForm">
            <div class="short_inputs">
                <div class="character_name_input">
                    <label class="texto">Personaje Jugador</label>
                    <input type="text" name="knight_name" [(ngModel)]="knight.char_name">
                </div>
                <div class="character_age_input">
                    <label class="texto">Edad</label>
                    <input type="text" name="knight_age" [(ngModel)]="knight.age">
                </div>
                <div class="squire_name_input">
                    <label class="texto">Nombre Del Escudero</label>
                    <input type="text" name="squire_name" [(ngModel)]="squire.char_name">
                </div>
                <button class = "small_button" [disabled] = "alreadyAdded"> AÑADIR </button>
            </div>
        </form>

<form #houseForm="ngForm" (ngSubmit)="onSubmit(houseForm)" class="houseForm">

            <label class="texto">Nombre De La Casa</label>
            <input type="text" name="house_name" [(ngModel)]="actualHouse.house_name">

            <label class="texto">Feudo</label>
            <input type="text" name="holding_name" [(ngModel)]="actualHouse.holding_name">


            <label class="texto">Característica Familiar</label>
            <input type="text" name="familyCharacteristic"[(ngModel)]="actualHouse.familyCharacteristic">

            <label class="texto">Situación Económica Inicial</label>


            <!-- sacada del select porque no está la propiedad nivel de manutención: [(ngModel)]="house. nivelManutencion" -->
            <select name="nivelesManutencion" id="lang" [(ngModel)]="actualHouse.economyLevels">
                <option *ngFor="let valor of nivelesManutencion" [value]="valor">{{valor}}</option>
            </select>
            <br>

            <!-- falta oner los ng models del personaje -->
 <!--    <form #charForm="ngForm" (ngSubmit)="submitCharInfo(charForm)" class="charForm">
    <div class="short_inputs">
        <div class="character_name_input">
            <label class="texto">Personaje Jugador</label>
            <input type="text" name="knight_name" [(ngModel)]="knight.char_name">
        </div>
        <div class="character_age_input">
            <label class="texto">Edad</label>
            <input type="text" name="knight_age" [(ngModel)]="knight.age">
        </div>
        <div class="squire_name_input">
            <label class="texto">Nombre Del Escudero</label>
            <input type="text" name="squire_name" [(ngModel)]="squire.char_name">
        </div>
        <button class = "small_button" [disabled] = "alreadyAdded"> AÑADIR </button>
    </div>
</form> -->
<br>

    <!--     <div class="npc_list">
            <p> {{stringNpcs}} </p>
        </div> -->

<!-- esto tiene que estar hidden -->
<div *ngIf = "npcs.length==0; else showCharacters" ></div>
<ng-template #showCharacters>
        <div class="choose_new_character">
            <label class="texto">Elije un nuevo PJ</label>
            <select name="npcs" [(ngModel)]="house.npc">
                <option *ngFor="let valor of npcs" [value]="valor">{{valor}}</option>
            </select>
        </div>
</ng-template>

            <button [disabled] = "noNPC"> CONFIRMAR </button>
    </form>
        <div class="buttons">
    
            <button (click)="goBack()">CANCELAR</button>
            <button class= "small_button" (click)="goAddNpcs()"> PNJ </button>
    
        </div>


    </div>

    <div class="right">
        <div class="shield_selector" >
            <img (click)="selectHouseShield(shield1)" [src]="shield1" id="1" name="shield" [(ngModel)]="actualHouse.shield"  ngDefaultControl>
            <img (click)="selectHouseShield(shield2)"[src]="shield2" id="2" name="shield" [(ngModel)]="actualHouse.shield"  ngDefaultControl>
            <img (click)="selectHouseShield(shield3)"[src]="shield3" id="3" name="shield" [(ngModel)]="actualHouse.shield"  ngDefaultControl>
            <img (click)="selectHouseShield(shield4)"[src]="shield4" id="4" name="shield" [(ngModel)]="actualHouse.shield"  ngDefaultControl>
            <img (click)="selectHouseShield(shield5)"[src]="shield5" id="5" name="shield" [(ngModel)]="actualHouse.shield"  ngDefaultControl>
            <img (click)="selectHouseShield(shield6)"[src]="shield6" id="6" name="shield" [(ngModel)]="actualHouse.shield"  ngDefaultControl>
            <img (click)="selectHouseShield(shield7)"[src]="shield7" id="7" name="shield" [(ngModel)]="actualHouse.shield"  ngDefaultControl>
            <img (click)="selectHouseShield(shield8)"[src]="shield8" id="8" name="shield" [(ngModel)]="actualHouse.shield"  ngDefaultControl>

            <!-- <img (click)="selectHouseShield(shield10)"[src]="shield10" id="10">
            <img (click)="selectHouseShield(shield11)"[src]="shield11" id="11">
            <img (click)="selectHouseShield(shield12)"[src]="shield12" id="12"> -->
            <!-- <img (click)="selectHouseShield(shield13)"[src]="shield13" id="13">
            <img (click)="selectHouseShield(shield14)"[src]="shield14" id="14">
            <img (click)="selectHouseShield(shield15)"[src]="shield15" id="15"> -->
        </div>
        <div class="fade-in">
            <img [src]="selectedShield" class="selectedShieldimg">
        </div>
    </div>
</div>
<!-- </form> -->
</div>

