<app-header class="component"></app-header>
<main class="main">
    <div class="div--1">
        REGISTRO
    </div>
    <div class="div--2">
        <form class="form" action="">
            <div class="form--div-1">
                <label for="">USUARIO:</label>
                <input type="email" #userName>
            </div>
            <div class="form--div-1">
                <label for="">CORREO:</label>
                <input type="email" #correo>
            </div>
            <div class="form--div-2">
                <label for="">PASSWORD:</label>
                <input type="password" #pass>
            </div>
            <div class="form--div-3">
                <label for="">CONFIRMAR PASSWORD:</label>
                <input type="password" #confirmarPass>
            </div>
            <div class="textHide" [hidden]="isHide">{{error}}</div>
        </form>
    </div>
    <button class="button" (click)="addUser(userName.value,correo.value,pass.value,confirmarPass.value)">
        <img src="../../../assets/img/daga_login_register.png" alt="">
        <p>Guardar</p>
    </button>
</main>