.component{
    /* LE DOY POSICION FIJA AL COMPONENTE HEADER */
    position:absolute;
    width: 100%;
    /* border: 2px solid black; */
}
.main{
    width: auto;
    height: 100vh;
    background-image: url("../../../assets/backgrounds/fondo_yeloms_oscuro.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    /* border: 2px solid red; */
}
.submain{
    height: 64%;
    width: 85%;
 
 /*    border: 2px solid purple;  */
    margin-top: 2%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:4%;
}
    .avatar_selector{
         display: flex;
         flex-direction: column;
         justify-content:center;
         align-items:center;
         flex-wrap: wrap;
         gap:1%;
         padding-top: 5%;
         height: 100%;
         width: 60%;
         /* border: 5px solid yellow  */
    }
    .avatar_selector img{
        min-width: 33%;
        max-width: 33%;
      /*   margin-block-end: 2%; */
        transition: all .2s ease-in;
      /*   border: 5px solid rgb(108, 165, 42); */ 
    }
    
    .avatar_selector img:hover{
        transform: scale(1.2);
        cursor:pointer;
    }
    
    .avatar_selector img:active{
        transform: scale(1.2);
    }
    
    .avatarcito{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .fade-in img{

        /* border: 5px solid rgb(255, 77, 0); */
        width: 100%;
        align-content: center;
         padding-top: 12%;
    }
    
    .fade-in img :hover{
        transform: scale(1.5);
        cursor:default;
    }


/* .lacre{ */
    /* border: 2px solid blue; */
/*     background-image: url("../../../assets/img/avatar1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 45%;

    position: relative;
} */

   /*  .imglacre{
        border-radius: 50%;
        width: 65%;

        position:absolute;
        left: 18%;
        top: 16%;
    
    } */


/* data user****************************************** */
.dataUser{
    width: 40%;
    height: 100%;
 /*    border: 2px solid blue; */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    align-items: center;

    padding-top: 5%;
}
    .dataUser p{
        color: var(--font-color-hover);
        -webkit-text-stroke: 1.2px var(--font-color-h);
        font-weight: bold;
        font-size: 6rem;

    }

    .userInfo{
        width: 100%;
        height:60%;
        color: var(--font-color-hover);
        font-size: 3rem;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6%;

        /*  border: 2px solid yellow; */

}
        .userInfo input {
            background-color: var(--background-color-input);
            border: none;
            border-radius: 5px;
            outline: none;
            color: var(--font-color-hover);
            text-align: center;
            font-size: 1.2rem;
            font-weight: bold;
            width: 90%;
            height: 15%;

        
        }

.buttonContainer{
   
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    
}
.backbutton{
    /* border: 2px solid red; */
    border: none;
    background-size: cover;
    background-color: transparent;

    color: white;
    font-size: 20px;
    width:20%;
}
.backbutton img{
    width: 100%;
}

.modifybutton{
    width: 20%;
    background-size: cover;
    background-color: transparent;
    border: none;
    /* border: 2px solid red; */
    color: white;
    font-size: 20px;
}
.modifybutton img{
    width: 100%;
}
.backbutton:hover{
    transform: translate(-20px);
    cursor: pointer;
    color: var(--font-color-hover);
}
.modifybutton:hover{
    transform: translate(20px);
    cursor: pointer;
    color: var(--font-color-hover);
}
::placeholder{
    color: var(--font-color-hover);
    text-align: center;
}

.textHide{
    width: auto;
    height: 35px;
    color: var(--font-color-h);
    /* border: 2px solid blue; */
    text-align: center;
    font-size: 1.5rem;
}

@media screen and (max-width: 820px){
    .imglacre{
        border-radius: 50%;
        width: 65%;

        position:absolute;
        left: 18%;
        top: 38%;
    
    }
}