<app-header class="component"></app-header>
<main class="main">
    <div class="submain">
        <div class="titleContain">
            <div class="fotoPerfil">
                <img src="{{currentUser.avatar}}" alt="" routerLink="/profile">
            </div>
            <div class="titleText">
                <h1>{{campaignService.currentCampaign.campaign_name}}</h1>
                <p>Jugadores (maximo 6)</p>
            </div>
        </div>
        <form class="inputplayers" #playersForm="ngForm" (ngSubmit)="onSubmit(playersForm)">
            <input type="text" name="jugador1" [(ngModel)]="jugador1.player_name" #jugador1="ngModel" [ngClass]="{ 'is-invalid' : jugador1.pristine && jugador1.invalid}" required>
            <input type="text" name="jugador2" [(ngModel)]="jugador2.player_name" #jugador2="ngModel" [ngClass]="{ 'is-invalid' : jugador2.pristine &&jugador2.invalid}" [disabled]="jugador1.pristine || jugador1.invalid">
            <input type="text" name="jugador3" [(ngModel)]="jugador3.player_name" #jugador3="ngModel" [ngClass]="{ 'is-invalid' : jugador3.pristine &&jugador3.invalid}"[disabled]="jugador2.pristine || jugador2.invalid">
            <input type="text" name="jugador4" [(ngModel)]="jugador4.player_name" #jugador4="ngModel" [ngClass]="{ 'is-invalid' : jugador4.dirty &&jugador4.invalid}"
            [disabled]="jugador3.pristine || jugador2.invalid">
            <input type="text" name="jugador5" [(ngModel)]="jugador5.player_name" #jugador5="ngModel" [ngClass]="{ 'is-invalid' : jugador5.dirty &&jugador5.invalid}"[disabled]="jugador4.pristine || jugador4.invalid">
            <input type="text" name="jugador6" [(ngModel)]="jugador6.player_name" #jugador6="ngModel" [ngClass]="{ 'is-invalid' : jugador6.dirty &&jugador6.invalid}"
            [disabled]="jugador5.pristine || jugador5.invalid">
            <div class="buttonContainer" *ngIf="jugador1.pristine; else Vacio">
                <button class="btnCancelar" (click)="goBack()">CANCELAR</button>
                <button class="btnCrearBlock" [disabled]="playersForm.invalid">AÑADIR JUGADORES</button>
            </div>
            <ng-template #Vacio>
                <div class="buttonContainer">
                    <button class="btnCancelar" (click)="goBack()">CANCELAR</button>
                    <button class="btnCrear" [disabled]="playersForm.invalid">AÑADIR JUGADORES</button>
                </div>
            </ng-template>
            
        </form>
    </div>
</main>