.component{
    /* LE DOY POSICION FIJA AL COMPONENTE HEADER */
    position:absolute;
    width: 100%;
    /* border: 2px solid black; */
}
.main{
    width: auto;
    height: 100vh;
    background-image: url(../../../assets/backgrounds/fondo_dobleEspada_oscuro.png);
    background-size: cover;
    background-position: center;
    /* border: 2px solid red; */

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}
.submain{
    width: 100%;
    height: 92%;
    /* border: 2px solid orange; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:2%
}
    .titleContain{
     /*   border: 2px solid blue; */
        width: 50%;
        height: 22%;

        display: flex;
        flex-direction: row;

    }
    .fotoPerfil{
       /*  border: 2px solid black; */
        height: 100%;
        width: 20%;

 /*        background-image: url("../../../assets/img/lacre1.png"); */
        background-size:contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }
        .fotoPerfil img{
            /* border: 2px solid red; */
            height: 100%;
            border-radius: 50%;
            position: absolute;
            top: 13%;
            left: 18%;
            cursor: pointer;
        }
    .titleText{
        width: 80%;
       /*  border: 2px solid brown; */
        

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        /* gap: 8%; */
    }
    .titleText h1{
        width: 100%;
        height: 75%;
        text-align: center;
        /* word-wrap: break-word; */
        font-weight: normal;
        color: var(--font-color-h);
        -webkit-text-stroke: 0.75px var(--font-color-hover);
        font-size: 3.5rem;
        font-weight: bold;
        padding-top: 2%;
     /*    border: 2px solid red; */
    }
    .titleText p{
        width: 100%;
        /* height: 20%; */
        text-align: center;
        color: var(--font-color-hover);
        font-size: 1.8rem;
        font-weight: bold;
    }
.inputplayers{
    /* border: 2px solid orangered; */
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
}
.inputplayers input{
    width: 80%;
    height: 16.66%;
    background-color: var(--background-color-input);
    color: var(--font-color-hover);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border: none;
    text-decoration: none;
    border-radius: 4px;
    /* border-color: rgb(78, 86, 84); */
}
.textHide{
    font-size: 1.5rem;
    color: var(--font-color-warnings);
    position: absolute;
    top: 40%;
    left: 30%;
}
.buttonContainer{
   /*  border: 2px solid blue; */
    width: 80%;
    height: 20%;

    display: flex;
    justify-content: center;
    gap: 5%;
}
/* CÓDIGO: APUNTES CARLOS */
/* button{
    background-color: var(--font-color-h);
    font-size: larger;
    border-radius: 3px;
    padding: 15px 32px;
    color: white;
}

button:hover{
    color: var(--font-color-hover);
    cursor: pointer;
}

button:disabled{
    background-color: grey;
    color:black;
    cursor:default
} */
.btnCrearBlock{
    width: 30%;
    background-color: rgb(38, 60, 46);
    border-radius: 10px;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}
.btnCancelar{
    width: 25%;
    height: 90%;
    background-color: var(--font-color-h);
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    text-decoration: none;
    border-radius: 10px;
   /*  padding: 15px 32px; */
    color: var(--font-color-hover)
    
}
.btnCancelar:hover{
    border: 1px solid var(--font-color-hover);
    color: var(--font-color-hover);
    cursor: pointer;
}
.btnCrear{
    width: 30%;
    background-color:var(--font-color-h);
   /*  font-size: 1.5rem; */
    cursor: default;
    font-size: medium;
    border-radius: 3px;
 /*    padding: 15px 32px; */
    color: white;
}
.btnCrear:hover{
    border: 1px solid var(--font-color-hover);
    color: var(--font-color-hover);
}
    
@media screen and (max-width: 1367px){
    .fotoPerfil img{
        border-radius: 55%;
        height: 60%;
        position: absolute;
        top: 17%;
        left: 15%;
    }
    .titleText h1{
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 820px){
    .fotoPerfil img{
        border-radius: 50%;
        height: 38%;
        position: absolute;
        top: 20%;
        left: 10%;
    }
    .titleText h1{
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 1536px){
    .titleText h1{
        font-size: 2.3rem;
    }
}