
<div class="padre" >

    <div class="main">

            <div class="zonaA">


                <div class="zonaA_a">

                        <p class="titulo">FASE DE INVIERNO<br></p>
                        <p class="nombreUsuario">{{miUsuario.nombre}} {{miUsuario.apellidos}}</p>

                </div>

                <div class="zonaA_b">

                        <div class="cajita"></div>

                        <img class="pergamino" src="../../../assets/img/pergamino-chato.png">
                            
                             <div class="caja">

                                  <div class="escudo">
                               
                                          <img class="imagen_escudo" src="{{miUsuario.imagen_escudo}}"> 

                                           <div class="paso1">

                                            <p><b>Paso I:</b><br>
                                                Aventuras<br>
                                                En Solitaro<br></p>

                                           </div>

                                  </div>

                                  <div class="textolargo">

                                    <p class="pasoOpcional"><b>Paso Opcional:</b><br></p>
                                    <p class="pasoOpcional2"><br>Escoge una aventura en solitario
                                        del libro básico de Pendragón y
                                        juégala. Asegúrate de que
                                        apunta en su hoja de personaje
                                        los puntos de gloria, atributos,
                                        rasgos, habilidades, etcétera que
                                        haya ganado y pulsa siguiente.
                                  </div>

                            </div>

                        <div class="cajita"></div>

                </div>

                  
            </div>

            <div class="zonaB">
               
            </div>
    </div>

     <div class="dagas">

        <div class="back">
            <a routerLink = "/winterphasemain" class="daga_derecha"><img src="../../../assets/img/daga-atras.png" alt="" ></a>
            <a routerLink = "/winterphasemain" class="volver">VOLVER</a>

        </div>

        <div class="next">
            <a routerLink = "/phase2" class="daga_izquierda"><img src="../../../assets/img/daga-adelante.png" alt="" ></a>
            <a routerLink = "/phase2" class="siguiente">SIGUIENTE</a>
        </div>


    </div>



</div>






