<div class="padre" >

    <div class="main">

            <div class="zonaA">


                <div class="zonaA_a">

                        <p class="titulo">FASE DE INVIERNO<br></p>
                        <p class="nombreUsuario">{{jugadores[0]}}</p>

                </div>

                <div class="zonaA_b">

                        <div class="cajita"></div>

                        <img class="pergamino" src="../../../assets/img/pergamino2.png">
                            
                             <div class="caja">

                                  <div class="escudo">
                          
                                            <img class="imagen_escudo" src="{{foto_escudo}}"> 

                            
                                           <div class="paso8">

                                            <p><b>Paso 8:</b><br>
                                                Suma la Gloria<br>

                                           </div>

                                  </div>

                                  <div class="textolargo">

                                    <p class="pasoOpcional"></p>
                                    <p class="pasoOpcional2"><!-- ESTO VA EN LA BBAA / TEXTO -->{{textos[0].phases_text}}<br>
                                        <br><p class="bold">Gloria por Matrimonio: <span class="numero">{{gloria}}.</span></p>

                                  </div>

                            </div>

                        <div class="cajita"></div>

                </div>

                  
            </div>

            <div class="zonaB">
               
            </div>
    </div>
<!-- iba dagas -->
</div>


