<div class="padre" >
    <div class="main">

          <!-- hijo 1 MAIN -->
        <div class="contenido">

            <div class="zonaB">

                <div class="zonaB_a">

                        <p class="titulo">FASE DE INVIERNO<br></p>
                        <p class="nombreUsuario">{{jugadores[0].player_name}}</p>

                </div>

                <div class="zonaB_b">

                        <!-- <img class="pergamino" src="../../../assets/img/pergamino-chato.png"> -->
                            
                             <div class="caja">

                                  <div class="escudo">
                                        <div class="caja_escudo"> 
                                            <img src="{{foto_escudo}}">
                                        </div>
                            
                                        <div class="paso">
                                            <p>Paso 9:</p>
                                            <p>Beneficios por Gloria</p>  
                                        </div>

                                  </div>

                                  <div class="prologo"> 


                                    <div class="prologo1"><!-- hijo 1 prólogo / ESTO VA EN LA BBAA (TEXTO)-->
                                        <p class="frase1">{{textos[0].phases_text}}</p><br>
                                        <p class="frase1">{{textos2[0].phases_text}}</p>
                                    </div>

                                    <div class="prologo2"><!-- hijo 2 prólogo -->

                                        <div class="hijito">
                                             <img class="lacreDragon" src="../../../assets/img/LACRE DRAGÓN.png">
                                        </div>
                                        <a routerLink="/winterphasemain" class="hijito2">fin</a>
                                    </div>  
                                  </div>

                            </div> <!-- cierre CAJA -->
                        

                </div>  <!-- CIERRE PERGAMINO -->
            </div><!-- CIERRE ZONA B -->
        </div> <!-- CIERRE CONTENIDO --> 

    </div><!-- CIERRE MAIN -->
    <!-- iba dagas -->
</div><!-- CIERRE PADRE -->

