<div class="padre" >

    <div class="main">

        <div class="izquierda">

            <div class="dagas">

                   <!--  <a class="siguiente" routerLink="/phase4">AVANZA</a> -->
                    <img class="daga_izquierda" routerLink="/winterphasemain" src="../../../assets/img/daga-adelante.png">
            </div>
        </div><!-- cierro izquierda -->

        <div class="derecha">

                <div class="cabecera">

                        <p class="titulo">FASE DE INVIERNO<br></p>
                        <p class="nombreUsuario">{{currentPlayerName}}</p>

                </div><!-- cierro cabecera -->

                <div class="body">

                    <div class="caja_escudo">

                            <div class="escudo"> 
                                <img src="{{foto_escudo}}">
                            </div>

                            <div class="paso">
                                <p>Paso IX:</p>
                                <p>Beneficios<BR>
                                 por Gloria</p>  

                            </div>
                    </div><!-- cierro caja_escudo -->

                    <div class="textolargo"> 

                            <div class="prologo1"><!-- hijo 1 prólogo / ESTO VA EN LA BBAA (TEXTO)-->
                                <p class="frase1">{{textos[0].phases_text}}</p><br>
                                        
                                <p class="frase1">{{textos2[0].phases_text}}</p>
                                    
                            
                            </div>

                            <div class="prologo2"><!-- hijo 2 prólogo -->

                                    <div class="hijito">
                                            <img class="lacreDragon" src="../../../assets/img/LACRE DRAGÓN.png">
                                    </div>
                                    <a routerLink="/winterphasemain"></a><span class="hijito2">fin</span>
                            </div>  
                    </div><!-- cierra textolargo -->

                </div> <!-- cierre body -->
            </div><!-- CIERRE derecha -->
    </div><!-- CIERRE MAIN -->
</div><!-- CIERRE PADRE -->

