<div class="padre" >
    <div class="main">

          <!-- hijo 1 MAIN -->
        <div class="contenido">

            <div class="zonaB">

                <div class="zonaB_a">

                        <p class="titulo">FASE DE INVIERNO<br></p>
                        <p class="nombreUsuario">{{nombre}} {{apellidos}}</p>

                </div>

                <div class="zonaB_b">

                        <!-- <img class="pergamino" src="../../../assets/img/pergamino-chato.png"> -->
                            
                             <div class="caja">

                                  <div class="escudo">
                                        <div class="caja_escudo"> 
                                            <img src="{{foto_escudo}}">
                                        </div>
                            
                                        <div class="paso">
                                            <p>Paso 9:</p>
                                            <p>Beneficios por Gloria</p>  
                                        </div>

                                  </div>

                                  <div class="prologo"> 


                                    <div class="prologo1"><!-- hijo 1 prólogo -->
                                        <p class="frase1">Si la gloria del personaje supera los 1000 puntos, por cada 1000 puntos adicionales, aumenta uno de tus atributos en 1 y calcula las características secundarias en función del aumento.</p>
                                    </div>

                                    <div class="prologo2"><!-- hijo 2 prólogo -->
                                        <p class="frase1">Si aumentas el valor de un atributo, recalcula el valor de las características secundarias asociadas a ese atributo.Si al usar un punto de bonificación un rasgo de personali-dad o pasión aumenta a 16 o más, no ganas puntos de Gloria por  ese  rasgo  o  pasión  hasta  la  siguiente  Fase  de  Invierno.</p>
                                
                                    </div>

                                    <div class="prologo3"><!-- hijo 3 prólogo -->

                                        <div class="hijito">
                                             <img class="lacreDragon" src="../../../assets/img/LACRE DRAGÓN.png">
                                        </div>
                                        <a routerLink="/winterphasemain" class="hijito2">fin</a>
                                    </div>  
                                  </div>

                            </div> <!-- cierre CAJA -->
                        

                </div>  <!-- CIERRE PERGAMINO -->
            </div><!-- CIERRE ZONA B -->
        </div> <!-- CIERRE CONTENIDO --> 

    </div><!-- CIERRE MAIN -->
    <!-- iba dagas -->
</div><!-- CIERRE PADRE -->

