
<div class="padre" >
    <app-header class="component"></app-header>
    <div class="main">

          <!-- hijo 1 MAIN -->
        <div class="contenido">

            <div class="zonaB">

                <div class="zonaB_a">

                        <p class="titulo">SOBRE NOSOTROS</p>
                </div>

                 <div class="zonaB_b">

                    <div class="hijito">

                        <div class="caja_foto">

                            <img class="foto" src="../../../assets/img/carlos-marina_9131-bw.jpg">
                        </div>
                        <div class="caja_texto">
                            <p class="nombre"><span><a href="https://www.linkedin.com/in/carlos-m-17087b25/" target="_blank" class="nombre">Carlos Marina</a></span></p>
                            <p class="texto">Madrid.&nbsp; Periodista de formación, Carlos estudió en Codenotch para convertirse en desarrollador web Full Stack.&nbsp; Sigue tecleando, pero lo que escribe ahora es código. Decidió poner sus recién adquiridos conocimientos en práctica para crear una aplicación que le ayudara a gestionar sus campañas de rol, uniendo así dos de sus pasiones.</p>
                            
                        </div>
                    </div>
                    <div class="hijito">
                        <div class="caja_foto">
                            <img class="foto"  src="../../../assets/img/miguel.jpg">
                        </div>
                        <div class="caja_texto">
                            <p class="nombre"><span><a href="https://www.linkedin.com/in/miguel-generoso-valero-6716ab227?original_referer=" target="_blank" class="nombre">Miguel Generoso</a></span></p>
                            <p class="texto">Madrid.&nbsp; Miguel tiene un  Grado Superior en Desarrollo de aplicaciones multiplataforma y está formado en Java, Python con Django, .NET, HTML, CSS, Android Studio, MySQL, PostgreSQL, XML, Linux y Windows. &nbsp;Actualmente formándose como desarrollador web Full Stack  en Codenotch, Madrid. Miguel, tambien es muy fan de los juegos de Rol.</p>
                        </div>
                    </div>
                    <div class="hijito">
                        <div class="caja_foto">
                            <img class="foto" src="../../../assets/img/irene.jpg">
                        </div>
                        <div class="caja_texto">
                            <p class="nombre">Irene Herrero</p>
                            <p class="texto">Madrid. &nbsp;Licenciada en Bellas Artes por la Universidad Complutense y Diseñadora de joyas de profesión.&nbsp; Actualmente esta formandose como desarrolladora Web Full Stack en Codenotch, Madrid.</p>
                        </div>
                    </div>
                 </div>
                        

               
            </div><!-- CIERRE ZONA B_b -->
        </div> <!-- CIERRE CONTENIDO --> 

    </div><!-- CIERRE MAIN -->

    <!-- hijo 2 -->

     <div class="dagas">

        <div class="back">

            <a routerLink = "/home" class="volver">HOME</a>
            <a routerLink = "/home" class="daga_derecha"><img  src="../../../assets/img/img_espada.png" alt="" ></a>
 
        </div>

    </div><!-- cierre dagas -->

</div><!-- CIERRE PADRE -->


