<div class="padre" >

    <div class="main">

        <div class="izquierda">

            <div class="dagas">

                    <a class="siguiente" routerLink="/phase4">AVANZA</a>
                    <img class="daga_izquierda" routerLink="/phase4" src="../../../assets/img/daga-adelante.png">
            </div>
       </div>

        <div class="derecha">

                <div class="cabecera">

                        <p class="titulo">FASE DE INVIERNO<br></p>
                        <p class="nombreUsuario">{{currentPlayerName}}</p>

                </div><!-- cierra cabecera -->

                <div class="body">

                        <div class="caja_escudo">

                        
                                <div class="escudo"> 
                                         <img src="{{foto_escudo}}">
                                </div>
                            
                                <div class="paso">
                                         <p>Paso III:</p><br>
                                        <p>Envejecimiento</p>  
                                </div>
                        </div><!-- cierro caja_escudo -->

                        <div class="textolargo"> 

                                    <p class="frase1"><b>Todos los personajes envejecen un año.</b></p>
                                    <p class="frase1">La edad de tu personaje ahora es : <span class="numero">{{characterService.currentActiveChar.age}} años.</span></p>
                                    <div *ngIf="characterService.currentActiveChar.age >= 35">
                                            <button (click)="envejecimientoAutomatico()" class="boton" click>ENVEJECIMIENTO AUTOMÁTICO</button>
                                    </div>
                                        
                                        <p class="frase3">Otros personajes:&nbsp; <span><select class="select" name="" id="">
                                            <option class="select" value=""[selected]="">SELECCIONA PNJ</option>
                                                <option value="{{npc.char_name}}" *ngFor="let npc of nombres_personajes">{{npc.char_name}} {{npc.age}}</option>
                                        </select></span><span> <button class="boton2" (click)="envejecimientoAutomatico()"> AUTO </button></span></p>
                                        <P class="frase3" style="color: var(--backgoud-color-button);">El envejecimiento automático es para persojajes mayores de 34 años.</P>
                                        <!-- <select class="select" name="" id="">
                                            <option class="input" value=""[selected]="">SELECCIONA PNJ</option>
                                                <option value="{{npc.nombre}}" *ngFor="let npc of pnj">{{npc.nombre}} {{npc.edad + 1}}</option>
                                        </select> -->
                                        <!-- <button class="boton2" (click)="envejecimientoAutomatico()"> AUTO </button> -->

                                        <p class="frase2">- Si un personaje tiene una característica en 3 o menos, debes retirarlo.<br>
                                        -Si un personaje tiene una característica en 0, el personaje ha muerto.</p>
                                        <div class="squire_old" *ngIf="escudero_personaje.age >= 21" >
                                            <p>La edad de tu escudero es: 21 años. Ya es mayor de edad, así que necesitas un nuevo escudero de 15 años:</p>
                                            <p class="colorNombre">Nombre: <span><input class="input" #valor></span></p>
                                            <button class="small_button" [disabled]="makeNewSquire" (click)="nuevoEscudero(valor.value)" >Ok</button>
                                        </div>
                                      <!--   <div class="marca_agua"></div> -->
                                        
                            </div><!-- cierro texto largo -->

                    </div> <!-- cierro  body -->
                </div>  <!-- cierro izquierda -->
            </div><!-- cuerro main -->
</div>  <!-- cierro padre -->

<div *ngIf="!isHide">
    <app-aging-modal class="modal" [informacionPadre]="statschanges" (cerrar)="cerrarModal($event)"></app-aging-modal>
</div>

