/* You can add global styles to this file, and also import other style files */

*{

    margin:0;
    padding:0;
    box-sizing: border-box;

    font-family: 'Almendra', serif;
    --font-color-primary: black;
    --font-color-hover: rgb(218, 193, 105);
    --font-color-warnings: rgb(210, 31, 39);
    --font-color-h: rgb(130, 23, 25);
    --font-color-label-input: rgb(24, 22, 112);
    --background-color-input: rgb(152, 37, 37);


}


