

.padre{

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
/*     justify-content: space-around; */
   
  background-image: url("../../../assets/backgrounds/fondo_phase4.png");
  background-size: cover;
  background-position: center;

    /*   border:  5px solid orange;  */
}
      .fondo{

        width: auto;
        height: 100%;
       
     }

.main{
    /* border: 2px solid rgb(239, 213, 13); */
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.izquierda{
   /*  border: 2px solid blueviolet; */
     width: 45%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
  /*    background-image: url("../../../assets/img/image-from-rawpixel-id-2629122-original.png");
     background-size: 70%;
     background-position: center;
     background-repeat: no-repeat; */
 } 
 

  .dagas{
 
     width: 95%;
     height: 15vh;
     
    /*  border:  4px solid rgb(237, 1, 1); */
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
 
 }
     
          .daga_izquierda{  
             width: 30%;
             align-self: flex-start;
             padding-left: 2%;
     
         } 
          .daga_izquierda img{
             width: 100%;
         }
         .siguiente{
     
             text-decoration: none;
             color: var(--font-color-hover);
            /*  padding-right: 4%; */
             font-size: 1.2rem;
             font-weight: bold;
             text-align: flex-star;
             padding-left: 5%;
         }
         .siguiente:hover{
     
             color:var( --backgoud-color-button);
             text-decoration: underline;
         }
     
          .daga_izquierda:hover{
       
             transform: translate(20px);
              cursor: pointer;
     
         } 
  

.derecha{

    width: 55%;
    height: 100%;
    /* border:  6px solid rgb(255, 94, 0); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    background-image: url("../../../assets/img/pergamino.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 92%;
}
     .pergamino_fondo{

        width: 90%;
        height: 120%;
        align-self: center; 

     }
.cabecera{ /* zona del título */

    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   /*  border:  5px solid pink;  */

}
    .titulo{
        width: 100%;
        height: 75%;
        font-size: 4rem;
        margin-top: 7%;
        text-align: center;
        justify-content: center;
       /*  border: 2px solid rgb(255, 0, 230);  */ 

        color: var(--font-color-hover);
        -webkit-text-stroke: 2px var(--font-color-h);
        font-weight: bold;
        font-size: 3rem;

    }
    .nombreUsuario{
        width: 75%;
        height: 25%;
       /*  border:  4px solid rgb(227, 146, 159);  */
        color: var(--font-color-warnings);
        font-weight: bold;
        text-align: end;
        font-size: 1.8rem;
    }

.body{

    width: 100%;
    height: 80%;
    flex-direction: row;
    /* border:  5px solid rgb(227, 17, 185);  */ 
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center; 

}

    
.caja_escudo{

    width: 80%;
    height: 30%;
    margin-top: 2%;
 /*    border:  4px solid rgb(184, 116, 229); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
            .escudo{
                width: 30%;
                height: 100%;
               /*  border:  4px solid rgb(6, 64, 255);  */
                justify-content: center;
                align-content: center;
            } 
                  .escudo img{
                    height: 90%;
                    width: auto;
                   /*  border:  4px solid rgb(229, 189, 116); */ 
                
                } 
                .paso{
                    height: 70%;
                    width: 40%;
                  /*   font-weight: bold; */
                    color: black;
                    line-height: 120%;
                    font-size: 1.5rem;
                    justify-content: center;
                    text-align: start;
                    /* border:  4px solid rgb(236, 156, 6); */
                }

.textolargo{
    
    height: 70%;
    width: 70%;
    padding-left: 5%;
   /*  line-height: 160%; */
    /* border:  4px solid rgb(204, 107, 193);  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

                  .prologo1{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                    height: 30%;
                   /*  border:  5px solid rgb(215, 13, 198);  */
                   
                  }
                    .texto{
                        display: flex;
                        flex-direction: column;
                        width: 60%;
                        height: 100%;
                        line-height: 175%;
                        color: var(--font-color-warnings);
                       /*  padding-left: 5%; */
                       /*  border:  5px solid rgb(13, 215, 212);  */
                        font-size: 1rem;
                        font-weight: bolder;
                    }

                     .inputs{

                        width: 30%;
                        height: 90%;
                        /* border:  5px solid rgb(13, 215, 212);  */
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                       
                     }

                     .input{
                        
                        width: 50%;
                        height: 20%;
                   /*      margin: 4%; */
                        border: none;
                        text-align: center;
                        text-decoration: none;
                        font-size: larger;
                        border-radius: 4px;
                        background-color: var(--background-color-input);
                   
                     }
                   /*      .colorNombre{
                            color: var( --font-color-label-input);
                            font-size: small;
                            text-align: justify;
                            width:50%;
                          
                        } */

                    .buttons{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        height: 20%;
                        width: 100%;
                      /*   border: 4px solid green;  */
                    }
                    .resultado{

                        width: 100%;
                        height: 20%;
                        line-height: 100%;
                        padding-top: 3%;

                        color:black;
                        border-style: none;
                        text-align: center;
                        font-size: 1rem;
                        align-self: center;
                        justify-content: center;
                       /*  border:2px solid red;  */

                    }

                    button{
                        background-color: var(--font-color-h);
                        font-size: 1.2rem;
                        font-weight: bold;
                        border-radius: 10px;
                        border: none;
                        text-decoration: none;
                        color: var(--font-color-hover);
                        width: 25%;
                        height: 50%;
                    }
                
                        .small_button{
                            background-color: var(--font-color-h);
                            font-size: 1.2rem;
                            font-weight: bold;
                            justify-content: center;
                            border-radius: 8px;
                            width: 50%;
                            height: 30%;
        
                        }
                
                    button:hover{
                        color: var(--font-color-hover);
                        cursor: pointer;
                    }
                
                    button:disabled{
                        background-color:var(--botton-disable);
                        color:black;
                        cursor:default
                    }

                  .prologo3{

                    width: 100%;
                    height: 20%;
                  /*   border:  5px solid rgb(53, 13, 215); */

                  }

                    .desplegable{

                    width: 100%;
                    height: 42%;
                    margin: 0.5%;
                    border-radius: 5px;
                    border-style: none;
                    background-color: var(--backgoud-color-button);
                    color: var(--font-color-hover);
                    text-align: center;
                    align-items: center;
                    font-size: 1rem;
                    font-weight: bold;
                    align-self: center;
                    text-decoration: none;
                    justify-content: center;
                    border: none;
                    }

                    .desplegable_container{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                      /*   border:  4px solidrgb(241, 2, 2)k; */
                        margin-bottom: 2%;
                    }

                    .selector_container{
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        height: 30%;
                      /*   border:  5px solid white; */
                        justify-content: center;
                        align-items: center;
                    }    
                       .nivelmanutencion{

                        color: var(--font-color-warnings);
                        font-weight: bold;
                        font-size: 1.2rem;
                       }

                       .dropdown-content{
                        background-color: var(--background-color-input);
                        width: 90%;
                        height: 50%;
                        text-align: center;

                       }

    @media screen and (max-width: 1045px){
        .caja_escudo{
        
            display:none;

        }

        .paso{
            width: 100%;
        }
        .texto{
            font-size: smaller;
        }
    
    }  