<div class="padre" >

    <div class="main">

        <!-- hijo 1 MAIN -->

            <div class="izquierda">

                <div class="dagas">
    
                        <a class="siguiente" routerLink="/phase5">AVANZA</a>
                        <img class="daga_izquierda" routerLink="/phase5" src="../../../assets/img/daga-adelante.png">
                </div>
           </div><!-- cierra izquierda -->

            <div class="derecha">

                <div class="cabecera">

                    <p class="titulo">FASE DE INVIERNO<br></p>
                    <p class="nombreUsuario">{{nombre}} {{apellidos}}</p>

                </div><!-- cierra cabecera -->
                <div class="body"><!-- </div> -->

                        <div class="caja_escudo">

                                <div class="escudo"> 
                                    <img src="{{foto_escudo}}">
                                </div>
                    
                                <div class="paso">
                                    <p>Paso IV:</p>
                                    <p>Circunstancias<br>
                                        Económicas</p>  
                                </div>

                        </div><!-- cierra caja_escudo -->

                        <div class="textolargo"> 

                            <div class="prologo1"><!-- hijo 1 prólogo -->

                                <div class="texto">
                                    <p>Mal tiempo inicial</p>
                                    <p>Mod. mal tiempo</p>
                                    <p>Hab. Administración</p> 
                                    <p>Mod. Administración</p>  
                                </div>
                            <div class="inputs">
                                    <label></label>
                                    <input class="input" type="number" #malTiempo>
                                    <input class="input" type="number" #modificadores>
                                    <input class="input" type="number" #administracion>
                                    <input class="input" type="number" #modificadores2>
                            </div>

                        </div><!-- cierra prologo 1 -->

                        <div class="buttons"><!-- hijo 2 prólogo -->
                                <button class="button" (click)="calcularNivelManutencion(malTiempo.value,modificadores.value,administracion.value,modificadores2.value)">CALCULAR</button>
                                
                                <span class="resultado">
                                    
                                    <p>{{nivel}}</p>

                                </span><!-- arreglar con css -->
                        </div><!-- cierra buttons -->

                         <div class="selector_container">
                                <form #selectNivel="ngForm" (ngSubmit)="onSelect(selectNivel)" class="selecetedCharForm">
                         <div class="desplegable_container">

                             <label class="nivelmanutencion">NIVEL DE MANUTENCIÓN</label>
                             <select class="desplegable" name="nivelManutencion" [(ngModel)]="nivelesModel.nivel"> -->
                             <!-- creo que el nivelesModel no se utiliza -->
                             <option  *ngFor="let nivel of nivelesManutencion" [value]="nivel">{{nivel}}</option>
                             </select>

                         </div>

                             <button class="small_button">APLICAR</button>

                                </form>
                           </div> 
                                    
                            </div>

                </div> 
        </div>  
    </div>
 </div>  
